{% extends "base.html" %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <hr>
                <h3>Your Message</h3>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter here your message">
                </div>
                <button class="btn login-button">Submit</button>
                <p class="margin-top-10"><small>For this sample we are using <strong>RASA.AI</strong> framework.<br> Check <strong><a href="https://rasa.ai">HERE</a></strong>the documentation</small></p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                 <hr>
                <h3>NLU Response</h3>
            </div>
        </div>
    </div>
{% endblock %}