{% extends "base.html" %}
{% block container %}
    <style>
        .message{ width:100%; max-width:100%; float:left;}
        .message-button {padding:5px 15px; max-width:96%; border-radius: 5px; margin:1%; }
        .message .bot { float: left }
        .message .user { float: right }
        .message-body { float: left; clear: both; font-size:1rem; }
        .message-header { font-style: italic; font-size:0.7rem;  float: right; clear: both;}
        .disabled-link {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }
    </style>
    <div class="container-fluid" ng-controller="chatbotController">
        <div class="row" ng-init="welcome()">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-12" ng-show="message_history.length>0">
                    <h3>OM BOT</h3>
                    <hr>
                    <span ng-repeat="item in message_history track by $index">
                        <span class="message">
                            <btn
                                    class="message-button {$ item.source $}"
                                    ng-class="
                                     {
                                        'bg-red border-red text-white':item.source=='user',
                                        'bg-light-grey border-light-grey':item.source=='bot',
                                     }
                                     "
                            >
                                <span ng-if="item.type == ''" class="message-body">{$ item.message $}</span>

                                <span ng-if="item.type == 'topics'"
                                      class="message-body"
                                      ng-repeat="topic in item.message track by $index"
                                >
                                    <a ng-click="newsByTopic(topic.topic_id, topic.topic_name)">{$ topic.topic_name $}</a>
                                </span>

                                <p style="display: inline-flex;">
                                    <span ng-if="item.type == 'options'" class="message-body"
                                          ng-repeat="option in item.message track by $index"
                                    >
                                        <span ng-if="option == 'next'">
                                            <a style="display: inline-block" ng-click="newsByTopic(filter.topic_id, filter.topic_name)">Next Article</a>&nbsp;|&nbsp;
                                        </span>
                                        <a style="display: inline-block" ng-if="option == 'topics'" ng-click="topics()">List of Topics</a>
                                    </span>
                                </p>

                                <p style="display: inline-flex;" ng-if="item.type == 'question'">
                                    <span>
                                        {$ item.message $} <br><br>
                                        <span class="message-body"
                                              ng-repeat="answer in answers track by $index"
                                        >
                                            <span><a ng-click="newsByTopic(filter.topic_id, filter.topic_name)">{$ answer $}</a></span>
                                        </span>
                                    </span>
                                </p>

                                <span ng-if="item.type == 'news'"
                                      class="message-body">
                                    <div class="card margin-bottom-20">
                                        <a href="{$item.message.url$}" target="_blank">
                                            <div class="card-image" style="border-bottom:solid 1px rgba(160, 160, 160, 0.2);">
                                                <img style="min-width:100%;" ng-if="item.message.im" ng-src="{$ item.message.im $}" class="img-responsive" alt="{$item.message.title$}">
                                                <img style="min-width:100%;" ng-if="!item.message.im" src="/static/images/rasp-icon.png" class="img-responsive" alt="{$item.message.title$}">
                                            </div>
                                            <div class="card-content">
                                                <h5 ng-if="item.message.title">{$ item.message.title | limitTo: 40 $} {$ item.message.title.length > 50 ? '...' : '' $}</h5>
                                                <h5 ng-if="!item.message.title" >No Title provided </h5>
                                            </div>
                                            <div class="card-action">
                                                <p ng-if="item.message.summary">{$ item.message.summary | limitTo: 100 $} {$ item.message.summary.length > 100 ? '...' : '' $}</p>
                                                <p ng-if="!item.message.summary">No Description provided </p>
                                            </div>
                                        </a>
                                    </div>
                                </span>
                                <span class="message-header">{$ item.date | date: 'HH:mm:ss' $}</span><br>
                            </btn>

                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}