<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS_CODE }}" charset=utf-8"></script>
<script charset=utf-8">

    window.dataLayer = window.dataLayer || [];
    console.log('window.dataLayer', window.dataLayer);

    function gtag(){dataLayer.push(arguments)};

    gtag('js', new Date());
    gtag('config', '{{ settings.GOOGLE_ANALYTICS_CODE }}',
        {
            'custom_map': {
                'dimension1': 'crm_id',
                'dimension2' : 'user_id'
            }
        }
    );

    {% if user.is_authenticated %}
        gtag('event', 'crm_id_dimension', '{{ user.profile.crm_id }}');
        gtag('event', 'user_id_dimension', '{{ user.id }}');
    {% endif %}


</script>

