# Images
static/images/profile
media/images/profile

# Custom setting
local_settings.py

# Production static
static_root/

# Environment
env

# MAC stuff
.DS_Store
.idea

# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# End of https://www.gitignore.io/api/django

### FRONTEND ###
node_modules/
webpack-stats.json
/static/bundles
/static/fonts
npm-debug.*

