# Custom setting
local_settings.py

# Environment
env

# MAC stuff
.DS_Store
.idea

# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# End of https://www.gitignore.io/api/django

### FRONTEND ###
node_modules/
webpack-stats.json
/static/bundles

