<div class="col-md-12" style="background: #f5f5f5; padding:2% 1%; margin-bottom:2%; border-radius: 3px;">
    <div class="col-md-12">
        <div class="col-md-12">
            <h1>
                <span>{$ challenge.title $}</span>&nbsp;&nbsp;
                <small style="font-size:100%; text-align:center;" >
                     <span
                             class="fa fa-thumbs-up"
                             ng-class="{'text-red':is_interested(challenge), 'text-grey':!is_interested(challenge), 'pointer':!challenge.closed }"
                             ng-click="challenge.closed || click_interest(challenge)"
                             uib-tooltip="{$ is_interested(challenge)? 'You are interested in this challenge': 'Click to show interest in this challenge' $}"
                     ></span>
                    <small><span>{$ challenge.interested.length $}&nbsp;Interested</span></small>
                </small>
            </h1>
            <br>
        </div>
        <div class="col-md-12 visible-sm visible-xs visible-sm">
            <br>
            <span
                    class="btn tag-button no-pointer"
                    ng-repeat="tag in challenge.tags"
                    style="margin-right: 1%;"
            >#{$ tag.name $}</span>
            <br><br>
        </div>

    </div>
    <div class="col-md-6">
        <img style="width:100%;" ng-src="{$ challenge.picture $}" alt="" >
    </div>
    <div class="col-md-6">
        <br>
        <!--Description-->
        <div class="col-md-12">
            <h4><i>{$ challenge.description $}</i></h4>
        </div>
        <br>
        <!-- Spec -->
        <div class="col-md-12">
            <br>
            <!--Status-->
            <p>
                <strong class="text-danger">
                    <i ng-class="{'fa fa-lock fa-fw disabled': challenge.closed, 'fa fa-fw fa-unlock-alt': !challenge.closed}" ></i>
                    <span>&nbsp;Challenge:&nbsp;&nbsp;</span>
                </strong>
                {$ challenge.closed ? 'Closed': 'Open' $}
            </p>
            <p >
                <strong ng-if="challenge.restricted_to" class="text-danger">
                    <i class="fa fa-map-marker fa-fw" ></i>
                    <span>&nbsp;Restricted to:&nbsp;&nbsp;</span>
                </strong>
                {$ challenge.restricted_to $}
            </p>
            <!--Date-->
            <p ng-if="challenge.start_date">
                <strong class="text-danger">
                    <i class="fa fa-calendar-check-o fa-fw"></i>
                    <span>&nbsp;Start:&nbsp;&nbsp;</span>
                </strong>
                {$ challenge.start_date | date:'dd MMMM yyyy' $}
            </p>
            <p ng-if="challenge.end_date">
                <strong class="text-danger">
                    <i class="fa fa-calendar-times-o fa-fw"></i>
                    <span>&nbsp;End:&nbsp;&nbsp;</span>
                </strong>
                {$ challenge.end_date | date:'dd MMMM yyyy' $}
            </p>
        </div>
        <!--Tags-->
        <div class="col-md-12 visible-md visible-lg">
            <br>
            <span
                    class="btn tag-button no-pointer"
                    ng-repeat="tag in challenge.tags"
                    style="margin-right: 1%;"
            >#{$ tag.name $}</span>
        </div>
        <br>
        <span class="col-md-12">
               <br>
               <div class="row Aligner">
                    <img class="col-md-2 col-xs-3" ng-src="{$ challenge.company.logo $}" alt="">
                    <h3 class="col-md-10 co-xs-8" >{$ challenge.company.name $}</h3>
               </div>
           </span>

    </div>
</div>

<!--Challenge details-->
<div class="col-md-12">
    <div class="col-md-12">
        <br>
        <div ng-bind-html="challenge.details"></div>
    </div>
</div>

<div class="col-md-12"><br><br></div>
<!--Interested users-->
<div class="col-md-12 margin-top-25" ng-if="challenge.interested.length > 0">
    <div class="well-red">{$ challenge.interested.length $} Interested users</div>

    <a href="/profile/{$ profile.id $}" ng-repeat="profile in challenge.interested | limitTo:20">
        <div class="row">
            <div class="col-md-1 col-xs-4">
                <circle-image ng-init="circle_profile = { src: '/media/'+profile.picture, href: profile.id};" src="circle_profile.src"
                              href="circle_profile.url"
                ></circle-image>
            </div>
            <div class="col-md-10 col-xs-8">
                <strong>{$ profile.user.first_name+' '+profile.user.last_name $}</strong>
                <br><span>{$ profile.city $}</span><br>
                <span ng-repeat="profile_tag in profile.tags">{$ profile_tag.name $}&nbsp;&nbsp;</span>
            </div>
        </div>
    </a>

</div>
