<!-- x :     defintion object-->
<!-- m :     model object-->

[select]
<ui-select
        class="form-control"
        ng-init="m[x.name] = x.value"
        ng-model="m[x.name]"
        title="Select your gender"
>
    <ui-select-match placeholder="Select your gender">{$ $select.selected.value.label $}</ui-select-match>
    <ui-select-choices repeat="tag.value.value as (key, tag) in x.options | filter: { value: { label: $select.search }}">
        <div ng-bind-html="tag.value.label | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>
<input type="hidden" ng-model="m[x.name]" name="{$ x.name $}" required/>

[slider]
<input name="{$ x.name $}" type="range" min="0" max="100" value="{$ x.value $}" class="form-control" ng-model="m[x.name]" required>`,

[success]
<h1 class="signup-template__label text-brown">
    <i class="far fa-check-circle" style=" font-size:400%; font-weight:300;"></i><br>
    <h1 class="signup-template__label">{$ x.value $}</h1>
</h1>

[date]
<input
       class="form-control"
       ng-model="m[x.name]"
       moment-picker="x.value"
       format="YYYY-MM-DD"
       placeholder="Select a date..."
       start-view="decade"
       inline="true"
       max-date="x.max"
       validate="true"
required>


[multi_select]
<ui-select
        multiple
        class="form-control"
        ng-init="m[x.name] = x.value"
        ng-model="m[x.name]"
        title="Write here to search available {$ x.name $}" limit="3"
>
    <ui-select-match placeholder="Type a tag and press enter *">{$ $item $}</ui-select-match>
    <ui-select-choices repeat="tag in x.options | filter:$select.search track by $index">
        <!--<div ng-bind-html="tag | highlight: $select.search"></div>-->
        <div>{$ tag $}</div>
    </ui-select-choices>
</ui-select><br/>
<input type="hidden" ng-model="m[x.name]" name="{$ x.name $}" required/>

[tags_select]
<ui-select
        multiple tagging
        tagging-label="" tagging-tokens="SPACE|ENTER|,|/|<|>|{|}|^"
        sortable="true"
        spinner-enabled="true"
        class="form-control"
        ng-init="m[x.name] = x.value"
        ng-model="m[x.name]"
        title="Choose a tag" limit="5"
>
    <ui-select-match placeholder="Type a tag and press enter *">{$ $item $}</ui-select-match>
    <ui-select-choices repeat="tag in x.options | filter:$select.search track by $index">
        <div ng-bind-html="tag| highlight: $select.search"></div>
    </ui-select-choices>
</ui-select><br/>
<input type="hidden" ng-model="m[x.name]" name="{$ x.name $}" required/>

[city]
<span ng-init="m['city']=x.value['city']; m['place']=x.value['place'] || {}"></span>
<input type="text"
       autocomplete="false"
       class="form-control"
       vs-google-autocomplete="{ types:['(cities)'] }"
       vs-autocomplete-validator

       ng-model="m['city']"

       vs-latitude ="m['place'].lat"
       vs-longitude="m['place'].long"
       vs-street-number="m['place'].street_number"
       vs-street="m['place'].street"
       vs-city="m['place'].city"
       vs-state="m['place'].state"
       vs-country="m['place'].country"
       vs-country-short="m['place'].country_short"
       vs-post-code="m['place'].post_code"

       placeholder="Start typing the city name where you ar based"
>
<input type="hidden" ng-model="m['city']" ng-value="m['city']"  name="city" required/>
<!--<input type="hidden" ng-model="m['place']" ng-value="m['place']" name="place" required/>-->
<textarea name="place" style="display:none;">{$ m['place'] | json $}</textarea>


[loading]
<h1>Loading</h1>

[imageupload]
<div class="fake-input__container" style="width:40%; left:30%; right:30%;">
    <circle-image src="x.value" ></circle-image>
    <input
        ng-model="x.value"
        type="file"
        name="picture"
    />
    <div class="fake-input__icon">
        <span class="fas fa-plus-circle fa-5x"></span>
    </div>
</div>

[textarea]
<textarea class="form-control"
          ng-init="m[x.name] = x.value"
          ng-model="m[x.name]"
          ng-value="m[x.name]"
          name="{$ x.name $}"
          cols="30" rows="10"
></textarea>

[text]
<input name="{$ x.name $}" type="text" ng-init="m[x.name] = x.value" ng-model="m[x.name]" class="form-control"  required>

[login]
<label class="signup-template__label" for="email">email</label>
<input name="username" type="email" value="{$ x.value $}" ng-model="m['username']" class="form-control" required><br>
<label class="signup-template__label" for="password">password</label>
<input name="password" type="password" value="{$ x.value $}" ng-model="m['password']" class="form-control" required><br>
<i class="signup-template__label text-brown"><a href="/recover/"><strong>Password forgotten? Click here</strong></a></i>

[signup]
<label class="signup-template__label" for="email">email</label>
<input name="email" type="email" value="{$ x.value $}" ng-model="m['email']" class="form-control" required><br>
<label class="signup-template__label" for="password">password</label>
<input name="password" type="password" value="{$ x.value $}" ng-model="m['password']" class="form-control" required><br>
<label class="signup-template__label" for="password_confirm">repeat password</label>
<input name="password_confirm" type="password" value="{$ x.value $}" ng-model="m['password_confirm']" class="form-control" required><br>
<br>
<div class="form-group pivacy_check_form" ng-init="privacy=false; tac=false;">
    <span class="pointer" style="cursor:pointer;">
        <span ng-click="tac=!tac;">
            <i class="glyphicon required" ng-class="{'glyphicon-check':tac, 'glyphicon-unchecked':!tac}"></i>
            <input type="checkbox" ng-model="tac" required="required" class="fake-check">
            &nbsp;You agree to the conditions
        </span>
        (<a target="_blank" href="{% url 'dashboard:express_acceptance' %}">Express Acceptance</a>)
    </span>
    <br>
    <span class="pointer" style="cursor:pointer;">
        <span ng-click="privacy=!privacy;" >
            <i class="glyphicon required" ng-class="{'glyphicon-check':privacy, 'glyphicon-unchecked':!privacy}"></i>
            <input type="checkbox" ng-model="privacy" required="required" class="fake-check">
            &nbsp;You agree to use your data to allow us to map the community of makers and encourage the meeting between
            representatives of the makers' community and the manufacturing industry By registering you agree to the following conditions
        </span>
        (<a target="_blank" href="{% url 'dashboard:terms_conditions' %}">Terms of service</a>)
        <span ng-click="privacy=!privacy;" >, You consent to the use of your data in accordance with the privacy policy</span>
            (<a target="_blank" href="{% url 'dashboard:privacy' %}">Privacy policy</a>)
        <span ng-click="privacy=!privacy;" >you ask to use our service.You will receive an email to confirm your registration.</span>
    </span>
    <br><br>
    <span>
         The service offered by the Top-ix Consortium, it is indefinite and you can withdraw at any time within the
         (<a target="_blank" href="{% url 'dashboard:terms_conditions' %}">terms and the conditions</a>)
    </span>
</div>

