<!-- Ctrl :  controller object-->
<!-- x :     defintion object-->
<!-- m :     model object-->

[select]
<ui-select
        class="form-control"
        ng-model="m[x.name]"
        title="Select your gender"
>
    <ui-select-match placeholder="Select your gender">{$ $select.selected.value.label $}</ui-select-match>
    <ui-select-choices repeat="tag.value.value as (key, tag) in x.options | filter: { value: { label: $select.search }}">
        <div ng-bind-html="tag.value.label | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>

<input type="hidden" name="{$ x.name $}" ng-value="m[x.name]" required/>

[slider]
<input name="{$ x.name $}" type="range" min="0" max="100" value="{$ x.value $}" class="form-control" ng-model="m[x.name]" required>`,

[confirm_email]
<h1 class="signup-template__label text-brown">
    <i class="fa fa-check-circle-o" style=" font-size:400%; font-weight:300;"></i><br>
        <h1 class="signup-template__label">Check your inbox for a confirmation email</h1>
</h1>

[date]
<input class="form-control"
       ng-model="m[x.name]"
       format="YYYY-MM-DD"
       placeholder="Select a date..."
       moment-picker="x.value"
required>

[multi_select]
<ui-select
        multiple
        class="form-control"
        ng-model="m[x.name]"
        title="Choose a tag" limit="3"

>
    <ui-select-match placeholder="Type a tag and press enter *">{$ $item $}</ui-select-match>
    <ui-select-choices repeat="tag in x.options | filter:$select.search track by $index">
        <div ng-bind-html="tag | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select><br/>
<input type="hidden" name="{$ x.name $}" ng-value="x.value" required/>

[tags_select]
<ui-select
        multiple tagging
        tagging-label="" tagging-tokens="SPACE|ENTER|,|/|<|>|{|}|^"
        sortable="true"
        spinner-enabled="true"
        class="form-control"
        ng-model="m[x.name]"
        title="Choose a tag" limit="3"
>
    <ui-select-match placeholder="Type a tag and press enter *">{$ $item $}</ui-select-match>
    <ui-select-choices repeat="tag in x.options | filter:$select.search track by $index">
        <div ng-bind-html="tag| highlight: $select.search"></div>
    </ui-select-choices>
</ui-select><br/>
<input type="hidden" name="{$ x.name $}" ng-value="m[x.name]" required/>

[city]
<input
       autocomplete="**********"required
       class="form-control"
       vs-google-autocomplete="{ types:['(cities)'] }"
       vs-autocomplete-validator
       ng-model="m[x.name]"
       vs-latitude ="place.lat"
       vs-longitude="place.long"
       vs-street-number="place.street_number"
       vs-street="place.street"
       vs-city="place.city"e
       vs-state="place.state"
       vs-country="place.country"
       vs-country-short="place.country_short"
       vs-post-code="place.post_code"

       type="text" name="city" id="city"
       placeholder="Start typing the city name where you ar based *"><br />

<input type="hidden" value="{$ x.value $}" name="place" required>

[loading]
<h1>Loading</h1>

[text]
<input name="{$ x.name $}" type="text" value="{$ x.value $}" class="form-control" ng-model="m[x.name]" required>


[login]

<label class="signup-template__label" for="email">email</label>
<input name="email" type="email" value="{$ x.value $}" ng-model="m['email']" class="form-control" required><br>
<label class="signup-template__label" for="password">password</label>
<input name="password" type="password" value="{$ x.value $}" ng-model="m['password']" class="form-control" required><br>
<label class="signup-template__label" for="password_confirm">repeat password</label>
<input name="password_confirm" type="password" value="{$ x.value $}" ng-model="m['password_confirm']" class="form-control" required><br>
<br>
<div class="form-group pivacy_check_form" ng-init="privacy=false; tac=false;">
    <span class="pointer" style="cursor:pointer;">
        <span ng-click="tac=!tac;">
            <i class="glyphicon" ng-class="{'glyphicon-check':tac, 'glyphicon-unchecked':!tac}"></i>
            <input type="checkbox" ng-model="tac" required="required" class="fake-check">
            &nbsp;You agree to the conditions
        </span>
        (<a target="_blank" href="{% url 'dashboard:express_acceptance' %}">Express Acceptance</a>)
    </span>
    <br>
    <span class="pointer" style="cursor:pointer;">
        <span ng-click="privacy=!privacy;" >
            <i class="glyphicon" ng-class="{'glyphicon-check':privacy, 'glyphicon-unchecked':!privacy}"></i>
            <input type="checkbox" ng-model="privacy" required="required" class="fake-check">
            &nbsp;You agree to use your data to allow us to map the community of makers and encourage the meeting between
            representatives of the makers' community and the manufacturing industry By registering you agree to the following conditions
        </span>
        (<a target="_blank" href="{% url 'dashboard:terms_conditions' %}">Terms of service</a>)
        <span ng-click="privacy=!privacy;" >, You consent to the use of your data in accordance with the privacy policy</span>
            (<a target="_blank" href="{% url 'dashboard:privacy' %}">Privacy policy</a>)
        <span ng-click="privacy=!privacy;" >you ask to use our service.You will receive an email to confirm your registration.</span>
    </span>
    <br><br>
    <span>
         The service offered by the Top-ix Consortium, it is indefinite and you can withdraw at any time within the
         (<a target="_blank" href="{% url 'dashboard:terms_conditions' %}">terms and the conditions</a>)
    </span>
</div>

[asdasdasdasd]

