<div id="feed_modal" style="display: none">
    <div class="modal-content" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true" >&times;</span></button>
            <h4 class="modal-title text-center sub-title" id="myModalLabel"><strong class="text-red">New Feedback</strong></h4>
        </div>
        <form method="POST" action="{% url 'dashboard:feed' %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label for="title" class="form-control-label">Title</label>
                    <input type="text" class="form-control" id="title"
                           name="title" placeholder="Title of your feedback">
                </div>
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Message</label>
                    <textarea class="form-control" id="message-text" rows="5"
                              name="message_text" placeholder="Write us a message..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close-button" data-dismiss="modal" ng-click="closeModal()">Close</button>
                <button type="submit" class="btn login-button">Send message</button>
            </div>
        </form>
    </div>
</div>











{#<div class="modal fade" id="feed_modal" tabindex="-1" role="dialog"#}
{#     aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#    <div class="modal-content" role="document">#}
{#        <form method="post" action="{% url 'dashboard:feed' %}">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="exampleModalLabel">New Feedback</h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                {% csrf_token %}#}
{#                <div class="form-group">#}
{#                    <label for="title" class="form-control-label">Title:</label>#}
{#                    <input type="text" class="form-control" id="title"#}
{#                           name="title">#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="message-text" class="form-control-label">Text:</label>#}
{#                    <textarea class="form-control" id="message-text"#}
{#                              name="message_text"></textarea>#}
{#                </div>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close#}
{#                </button>#}
{#                <button type="submit" class="btn btn-primary">Send message</button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#</div>#}
