<div id="login_modal" style="display: none">
    <div class="modal-content" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true" >&times;</span></button>
            <h4 class="modal-title text-center sub-title" id="myModalLabel"><strong class="text-red">Login</strong></h4>
        </div>
        <form method="POST" action="{% url 'dashboard:login' %}">
            {% csrf_token %}
            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <p>
                    Password forgotten? Click <strong><a href="{% url 'dashboard:recover_pwd' %}">here</a></strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close-button" data-dismiss="modal" ng-click="closeModal()">Close</button>
                <button type="submit" class="btn login-button">Login</button>
            </div>
        </form>
    </div>
</div>
