<div id="request_membership_modal" style="display: none" >
    <div class="modal-content" ng-init=" request_email = '' ;" >
        <form name="request_membership_form"  ng-submit="request_membership(request_email)">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center sub-title text-red">Enter to the
                    <strong>OpenMaker Digital Social Platform</strong>
                </h4>
            </div>

            <div class="modal-body">
                <p class="margin-bottom-20 margin-top-20 text-center">
                    The platform will provide you with an easy-to-read dashboard displaying the most
                    relevant innovation trends and networks, expressed in intuitive and graphical representations.
                </p>
                <p class="margin-bottom-20 margin-top-20">
                    Please insert your email.
                </p>

                <div class="form-group">
                     <input type="email" class="form-control" placeholder="Member E-mail" ng-model="request_email" required="required">
                </div>

                <div class="form-group" ng-init="privacy=false; terms=false;">
                    <p>To become a member, </p>
                    <label style="font-weight: 500!important;" >
                        <span ng-click="terms=!terms;">
                            <span ng-show="terms" class="glyphicon glyphicon-check text-red"></span>
                            <span ng-show="!terms" class="glyphicon glyphicon-unchecked text-red"></span>
                            <input type="checkbox" ng-model="terms" required="required" class="fake-check">
                            &nbsp;I allow for the use of my online publicly available data
                        </span>
{#                        <a class="text-red" href="#">Terms of service</a>#}
                    </label><br>
                    <label style="font-weight: 500!important;" >
                        <span ng-click="privacy=!privacy;">
                            <span ng-show="privacy" class="glyphicon glyphicon-check text-red"></span>
                            <span ng-show="!privacy" class="glyphicon glyphicon-unchecked text-red"></span>
                            <input type="checkbox" ng-model="privacy" required="required" class="fake-check">
                            &nbsp;I allow for the use of the data provided in the onboarding form
                        </span>
{#                       <a class="text-red" href="#">Privacy Policy</a>#}
                    </label>
                </div>

                <div ng-bind="modal_message.message"
                     class="alert"
                     ng-class="{
                         'alert-error' : modal_message.status == 'error',
                         'alert-success' : modal_message.status == 'success',
                         'hidden' : !modal_message
                     }"
                ></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn close-button" data-dismiss="modal" ng-click=" closeModal()">Close</button>
                <input type="submit" class="btn login-button" data-dismiss="modal" value="Request" />
            </div>
        </form>
    </div>
</div>