

/* Theme selector style */
.theme-name .dropdown-menu {
  border-color:#db4348 ;
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.theme-name .dropdown-menu * { color:#db4348 }
.theme-name button[data-toggle="dropdown"]:focus { outline:none; }


/* Open influencers style */

// Breadcrumb grey
.influencers-breadcrumb {

  & > :first-child {
    @media (min-width: $screen-xs-max) {
      padding-right: 0;
    }
  }

  .breadcrumb {
    @media (min-width: $screen-xs-max) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

  }

  &.no-influencers{
    .breadcrumb { border-radius:4px; }
    .open-influencers-wrapper{ display:none; }
    .breadcrumb-wrapper{ @extend .col-md-12, .col-sm-12, .col-xs-12; }
  }

  // Influencers Red button
  & > :last-child {

      // Mobile
      border-radius : 4px;
      padding-left: inherit;

      // Desktop
      @media (min-width: $screen-xs-max){
        border-radius: 0;
        padding-left:0;
        padding-right:0;
        background-color: #f5f5f5;
      }

  }

  .open-influencers {

    border: solid 1px #db4348;

    font-weight: 300;
    background-color:#fff;
    color:#db4348;
    cursor: pointer;

    width:100%;
    border-radius:4px;
    padding: 0 15px;

    @media (min-width: $screen-xs-max){
      border-radius:0;
      border-top-right-radius: 4px; border-bottom-right-radius:4px;
      width: auto;
      padding: 0 50px;
    }

    &:hover {
      background-color:#db4348;  color:#fff;
      img {
        border:solid 2px #db4348!important;
        //border:solid 2px #fff;
      }
    }

  }

  img:not(:first-child) { margin-left:-12px; }
  img {
    border:solid 2px #fff;
  }

  .theme-name {
    .text-red h2 { margin-top:0!important; }
  }

}
