#floating-button{
	width: 45px;
	height: 45px;
	border-radius: 50%;

	background: #fff;
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	box-shadow: 0px 2px 5px #666;
	border: solid 2px #db4437;
	color: #db4437;


	&:hover{
		color: #db4437;
		border: solid 1px #db4437;
		background: #db4437;
		color: #fff;
	}

	.plus{
		position: absolute;
		top: 0;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		padding: 0;
		margin: 0;
		line-height:  48px;
		//font-size: 23px;
		font-size: 20px;
		font-family: 'Roboto';
		font-weight: 300;
		animation: plus-out 0.3s;
		transition: all 0.3s;
	}


}

