.profile-image {

	overflow: hidden;
	border: 2px dashed #eeeeee;
	width: 100%;
	position: relative;
	padding-bottom: 100%;
	border-radius: 50%;
	cursor: pointer;

	i {
		position:absolute; width: 100%;
		text-align: center;
		top: 40%;
		font-size: 30px;
		color: #eeeeee;
		z-index:1000;
		display:none;
	};
	&:hover {
		background: rgba(204, 204, 204, 0.0);
		border: dashed 2px #db4348;
		i {
			color: #db4348;
			display:block;
		}
	}
}

.profile-image-static {
	overflow: hidden;
	width: 100%;
	position: relative;
	padding-bottom: 100%;
	border-radius: 50%;
}

.ui-select-bootstrap  {

	* { box-shadow: none!important; outline:0 !important;}

	& > .ui-select-choices{
		left:0;
		text-align: left;
	}

	input {width:100%!important;}

	.ui-select-highlight { color :$red; }
	.ui-select-highlight + .ui-select-highlight { color :initial; font-weight: initial; }

	.ui-select-choices-row.active {
		.ui-select-choices-row-inner { background: $red; color : #fff; }
	}

	.ui-select-match-item {
		&.btn-primary { background: $red; border:$red;}
	}

}

.social-links-form{
	.input-group {margin-bottom: 1%;}
	.input-group-addon { background-color: #fff!important ;}
	input { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

}

/*rgba(204, 204, 204, 0.5)*/
