.profile-image {
	overflow: hidden;
	border: 2px dashed #eeeeee;
	width: 100%;
	position: relative;
	padding-bottom: 100%;
	border-radius: 50%;
	cursor: pointer;
	i {
		position:absolute; width: 100%;
		text-align: center;
		top: 40%;
		font-size: 30px;
		color: #eeeeee;
	};
	&:hover {
		background: rgba(204, 204, 204, 0.0);
		border: dashed 2px #db4348;
		i {
			color: #db4348;
		}
	}
}

.ui-select-container {
	input {
		@extend .form-control;
		box-shadow: none!important;
		&:focus{
			box-shadow: none!important;
		}
	}
}

.ui-select-bootstrap  {

	& > .ui-select-choices{
		left:0;
		text-align: left;
	}

	.ui-select-highlight { color :$red;}
	.ui-select-highlight + .ui-select-highlight { color :initial; font-weight: initial; }

	.ui-select-choices-row.active {
		span { background: $red; }
		.ui-select-highlight { color : #fff;}
	}

	.ui-select-match-item {
		&.btn-primary { background: $red; border:$red;}
	}

}

/*rgba(204, 204, 204, 0.5)*/
