{% extends "base.html" %}
{% block container %}
    <div class="container">
        <div class="row margin-bottom-15">
            <div class="col-md-12">
                <h1 class="text-red">Application Form</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 margin-top-15">
                <p>
                    BLA BLA BLA <strong class="text-red">OpenMaker</strong> community for accelerating the
                    <strong class="text-red">4th Industrial Revolution</strong>! <br>
                </p>
            </div>
        </div>
        <div class="row margin-top-20 margin-bottom-30">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <form class="form-group" action="{% url 'pss:application' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    Project Name <input class="form-control" type="text" name="project_name" placeholder="Project Name.." required/> <br><br>

                    Your LES <select class="form-control" name="les_choice">
                                <option value="0">Lama</option>
                                <option value="1">Topix</option>
                                <option value="2">NoIdea</option>
                            </select> <br><br>
                    <input class="form-control" type="file" name="zip_location" required/> <br><br>
                    <input class="btn btn-info" type="submit" value="UPLOAD" />
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}