/* Body Padding for main container */

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    background-color: #fff;
}

/* Alert Error Message */
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-error hr {
    border-top-color: #e4b9c0;
}
.alert-error .alert-link {
    color: #843534;
}

.text-red {
    color: #db4348!important;
}

.text-black {
    color: #333;
}

.text-white {
    color: #fff;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

.logo span {
    font-size: 22px;
    font-weight: 100;
}

a, a:hover {
    color: #333;
}

/*

NAVBAR

*/
.navbar-default {
    background-image: none!important;
    background-color: #fff!important;
    padding: 15px 10px 15px 10px;
}

/*

IMAGES

*/

.cover-img {
    height: 400px;
}
.sub-img {
    height: 300px;
}
.icon-img {
    height: 100px;
}

/*

MARGINS

*/
.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

/*

MARGINS

*/
.color-row {
    background-color: #333333;
}

/*

BUTTONS

*/
.custom-button {
    font-size: 20px;
    padding: 15px;
    background: transparent;
    color: #db4348;
    border: solid 1px;
    font-weight: 300;
}

.custom-button:hover {
    background: #db4348;
    color: #fff;
    border: solid 1px #fff;
    font-weight: 700;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}

.login-button {
    background: transparent;
    color: #db4348;
    border: solid 1px;
    font-weight: 300;
}

.login-button:hover {
    background: #db4348;
    color: #fff;
}

.close-button {
    background: transparent;
    color: #f0ad4e;
    border: solid 1px;
    font-weight: 300;
}

.close-button:hover {
    background: #f0ad4e;
    color: #fff;
}

.claim {
    font-weight: 400;
    font-size: 24px;
}

.sub-title {
    font-weight: 100;
    font-size: 20px;
}

.box {
    min-height: 150px;
    border: 1px solid darkgrey;
    position: relative;
}

.box p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.box:hover {
    background: #db4348;
    -webkit-box-shadow: 2px 2px 19px 3px rgba(0,0,0,0.08);
    -moz-box-shadow: 2px 2px 19px 3px rgba(0,0,0,0.08);
    box-shadow: 2px 2px 19px 3px rgba(0,0,0,0.08);
}

.box:hover p {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}