/* Body Padding for main container */
body { padding-top: 70px; }

/* Container fluid */
footer {
    background-color: black;
}

/* Alert Error Message */
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-error hr {
    border-top-color: #e4b9c0;
}
.alert-error .alert-link {
    color: #843534;
}

.feed_img {
    width: 150px;
    height: 150px;
}

.influencers_box{
    border-left: solid 1px rgb(225, 227, 239);
}

.influencers_separator{
    border-bottom: 1px solid rgb(225, 227, 239);
    margin-bottom: 10px;
}


/*STYLE signed by Mauri*/
ul {
    list-style-type:none;
}

#center{
    font-size: 65px;
    /*background-color: pink;/*testing*/*/
}

#xl{
    width: 40%;
    opacity:0.6;
    font-size:16px;
    color:black;
    border:3px solid #C0C0C0;
    border-radius: 10px;
}

.resize{
    width: 400px;
    height: 400px;
}

.dist{
    margin-top: 20px;

}
