{% extends "base.html" %}
{% block container %}
    <div class="container-fluid">

        {% if challenge_id is not None  %}
            <div class="row">
                <challenge id="{{challenge_id}}"></challenge>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="margin-bottom-30">Explore and Enjoy <br>the OpenMaker<strong class="text-red"> Challenges</strong></h1>
                    <h2></h2>
                </div>
            </div>
            <div class="row">
                <challenge-list></challenge-list>
            </div>
        {% endif %}
        <br><br>
    </div>
{% endblock %}