{% extends "base.html" %}
{% block container %}

<div>
<div class="container" ng-controller="searchController" ng-init="search_factory.search('{{search_string}}')">
    <div class="row row--mobile">

        <div class="col-md-7 user-detail mobile__padding">
            <div class="row">

                <!--Entity Heading-->
                <div class="col-md-12 entity-heading margin-bottom-1-perc">
                   <h1 class="margin-bottom-30 page-title">COMMUNITY
                       <small style="text-transform: initial;" >&nbsp;we are <span>{{ n_registered_user }}</span> people</small>
                   </h1>
                </div>

                <!--Anchor for members on page load-->
                <div class="col-md-12"> <a id="members" href="#" >&nbsp;</a></div>
                <div class="col-md-12" ng-if="results_count != undefined">
                    <h3 ng-hide="is_last_members_label" class="margin-bottom-30">
                        <span>Search results for:</span>
                        <span class="text-red">&nbsp;{$ search_factory.search_filter | limitTo:50 $}
                            <span ng-if="search_factory.search_filter.length > 50">...</span>&nbsp;&nbsp;
                        </span>
                        <span>({$ results_count $} Results)</span>
                    </h3>
                </div>
                <div class="col-md-12">
                    <form>
                        <div class="has-feedback has-feedback-left" style="width:100%">
                            <input class="form-control"
                                   ng-change="search_factory.search_filter.length > 1 && search_debounced() "
                                   ng-model-options="{allowInvalid: true}"
                                   ng-model="search_factory.search_filter" id="filter" type="text" class="form-control"
                                   placeholder="Search members for name, city, tagwords and more" value=""
                            >
                            <i ng-if="search_factory.is_search_all()" class="glyphicon glyphicon-search form-control-feedback text-grey"></i>
                            <i
                                    ng-if="!search_factory.is_search_all()"
                                    ng-click="search_factory.search_all()"
                                    class="glyphicon glyphicon-remove form-control-feedback text-red pointer"
                                    style="pointer-events:initial;"
                            ></i>
                        </div>
                    </form>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 user-card" ng-repeat="data in results">
                    <div class="row" style="display: flex; flex-direction: row; justify-content: center; align-items: center;"
                    >
                        <div
                                class="col-md-4 col-xs-4"
                                tooltip-class="tag-tooltip"
                                tooltip-placement="right"
                                uib-tooltip-html="tag_template(data.tags)"
                        >
                            <circle-image src="data.picture" href="{$ '/profile/'+data['id'] $}" ></circle-image>
                        </div>

                        <div class="col-md-8 col-xs-8 user-card__username" >
                            <a href="/profile/{$ data['id'] $}">
                                <strong><span ng-bind-html="highlight((data.user.first_name +' '+data.user.last_name), search_factory.search_filter)"></span></strong>
                            </a>
                            <br><span ng-bind-html="highlight((data.city), search_factory.search_filter)"></span>
                            <br><span ng-bind-html="highlight((data.occupation), search_factory.search_filter)"></span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin-top-5-perc margin-bottom-5-perc">
                    <simple-pagination
                            prevfunction="search_factory.prev_page"
                            nextfunction="search_factory.next_page"
                            gotofunction="search_factory.go_to_page"
                            currentpagenumber="search_factory.page"
                            maxpagenumber="search_factory.max_page"
                    ></simple-pagination>
                </div>
            </div>

            <div class="row" id="community-stats">

                <div class="col-md-12 entity-heading margin-bottom-1-perc">
                    <h1 class="margin-bottom-30 page-title">COMMUNITY STATISTICS</h1>
                </div>

                <!-- Gender pie chart -->
                <div class="col-md-6">
                        <gender-graph></gender-graph>                           
                </div>

                <!-- Age bar chart-->
                <div class="col-md-6">
                        <age-graph></age-graph>
                </div>
                
                
                <div class="col-md-12"><br></div>
                        
                <div class="col-md-12">

                   <city-graph></city-graph>
                    <br>
                
                    <job-graph></job-graph>
                    <br>

                </div>

            </div>


        </div>

        <!--Right sidebar-->
        <div class="col-md-5">
            <div class="entity-sidebar background-red--light col-md-12" style="padding-bottom: 10px;">

                <div class="row"><div class="col-md-12"><h1>&nbsp;</h1></div></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="entity-carousel__header background-red text-white">
                            <h4 style="padding: 3% !important;">Community Location</h4>
                        </div>
                        <locations-map></locations-map>
                    </div>
                    <div class="col-md-12">

                        <div class="entity-carousel entity-carousel--loved entity--loved">
                            <div class="entity-carousel__header">
                                <h4 style="padding: 3% !important;">Hot tags</h4>
                            </div>
                            <div class="entity-carousel__body" style="padding-bottom: 100%;">
                                <slick style="position: absolute; left:0; bottom:0; top:0; width:100%; height:100%;">
                                    <tag-bubbles tags="{{ hot_tags }}" maxtags="20"></tag-bubbles>
                                </slick>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}
