{% extends "base.html" %}
{% block container %}
<div>
<div class="container" ng-controller="searchController" ng-init="search_factory.search('{{search_string}}')">
    <div class="row mobile__row">

        <div class="col-md-8 user-detail mobile__padding">
            <div class="row">

                <!--Entity Heading-->
                <div class="col-md-12 entity-heading margin-bottom-1-perc">
                   <h1 class="margin-bottom-30 page-title">COMMUNITY <small style="text-transform: initial;" >&nbsp;we are <span>{{ n_registered_user }}</span> people</small></h1>
                </div>


                <!--Anchor for members on page load-->
                <div class="col-md-12"> <a id="members" href="#" >&nbsp;</a></div>
                <div class="col-md-12">
                    <h3 ng-hide="is_last_members_label" class="margin-bottom-30">Search results for:  <span class="text-red">&nbsp;{$ search_factory.search_filter $}&nbsp;</span>&nbsp;({$ results_count $} Results)</h3>
                </div>
                <div class="col-md-12">
                    <form>
                        <div class="has-feedback has-feedback-left" style="width:100%">
                            <input class="form-control"
                                   ng-change="search_factory.search_filter.length > 1 && search_debounced() "
                                   ng-model-options="{allowInvalid: true}"
                                   ng-model="search_factory.search_filter" id="filter" type="text" class="form-control"
                                   placeholder="Search members for name, city, tagwords and more" value=""
                            >
                            <i ng-if="search_factory.is_search_all()" class="glyphicon glyphicon-search form-control-feedback text-grey"></i>
                            <i
                                    ng-if="!search_factory.is_search_all()"
                                    ng-click="search_factory.search_all()"
                                    class="glyphicon glyphicon-remove form-control-feedback text-red pointer"
                                    style="pointer-events:initial;"
                            ></i>
                        </div>
                    </form>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 user-card"  style="margin-bottom: 3%;" ng-repeat="data in results">
                    <div
                            class="row"
                            style="display: flex; flex-direction: row; justify-content: center; align-items: center;"
                    >
                        <div
                                class="col-md-4 col-xs-4"
                                tooltip-class="tag-tooltip"
                                tooltip-placement="right"
                                uib-tooltip-html="tag_template(data.tags)"
                        >
                            <circle-image src="data.picture" href="{$ '/profile/'+data['id'] $}" ></circle-image>
                        </div>

                        <div class="col-md-8 col-xs-8" >
                            <a href="/profile/{$ data['id'] $}">
                                <strong><span ng-bind-html="highlight((data.user.first_name +' '+data.user.last_name), search_factory.search_filter)"></span></strong>
                            </a>
                            <br><span ng-bind-html="highlight((data.city), search_factory.search_filter)"></span>
                            <br><span ng-bind-html="highlight((data.occupation), search_factory.search_filter)"></span>
                            <br>
                            <!--<i-->
                                    <!--ng-repeat="tag in data.tags | limitTo : 3 "-->
                                    <!--ng-class="{ 'text-red' : search_factory.search_filter === tag.name }"-->
                                    <!--ng-click="search_factory.search_switch(tag.name)"-->
                                    <!--class="pointer"-->
                            <!--&gt;-->
                                <!--<strong>#</strong><span ng-bind-html="highlight((tag.name), search_factory.search_filter)"></span></i>&nbsp;&nbsp;-->
                            <!--</i>-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <simple-pagination
                            prevfunction="search_factory.prev_page"
                            nextfunction="search_factory.next_page"
                            currentpagenumber="search_factory.page"
                            maxpagenumber="search_factory.max_page"
                    ></simple-pagination>
                </div>
            </div>
        </div>

        <!--Right sidebar-->
        <div class="col-md-4">
            <div class="entity-sidebar background-red--light col-md-12">

                <div class="row">

                    <div class="col-md-12">
                        <div class="entity-carousel entity-carousel--loved entity--loved">
                            <div class="entity-carousel__header">
                                <h3>Hot tags</h3>
                            </div>
                            <div class="entity-carousel__body" style="padding-bottom: 100%;">
                                <slick><tag-bubbles tags="{{ hot_tags }}" maxtags="20"></tag-bubbles></slick>
                            </div>
                        </div>
                    </div>

                    <!--<div lass="col-md-12">-->
                    <!--<h3>Location</h3>-->
                    <!--<br>-->
                    <!--<locations-map></locations-map>-->
                    <!--</div>-->

                    <!--<div class="col-md-12 sector-bar-container">-->
                        <!--<h3>Sector</h3><br>-->
                        <!--<div class="" >-->
                            <!--<pie-sector></pie-sector>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}