{% extends "base.html" %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2><strong>Hi</strong> {{request.user.first_name}}!</h2>
                <p>Start exploring maker community</p>
            </div>
        </div>
        <div class="row margin-top-25 margin-bottom-25">
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12 margin-bottom-25">
                <p class="logo">
                    Themes
                </p>
            </div>
            {% for theme in themes.themes %}
                <div class="col-md-2">
                    <a href="{% url 'dashboard:theme' theme.name %}">
                        <div class="col-md-12 box">
                            <p>
                                {{theme.name}}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}