{% extends "base.html" %}
{% block container %}
    <div class="container-fluid" style="margin-top: -20px;">
        <div class="row color-row">
            <div class="col-md-12 text-center margin-top-50 margin-bottom-50">
                <p class="text-white claim text-center">
                    <strong>The IPSS 2017</strong><br>Piloting Supporting Scheme
                </p>
                <a class="btn custom-button margin-left-5" href="{% url 'pss:application' %}">
                    SUBMIT YOUR APPLICATION
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h2><strong class="text-red">Hi</strong> {{request.user.first_name}}!</h2>
                    <p class="lead">Start exploring maker community</p>
                </div>
            </div>
        </div>
        <div class="row margin-top-25 margin-bottom-25">
            <div class="col-md-12">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-bottom-25">
                <div class="col-md-12">
                    <p class="logo">
                        Themes
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                {% for theme in themes.themes %}
                    <div class="col-md-2">
                        <a href="{% url 'dashboard:theme' theme.name %}">
                            <div class="col-md-12 box">
                                <p>
                                    {{theme.name}}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}