{% extends "base.html" %}
{% block container %}
<div class="container">
    <style>
        li { list-style: none; line-height:1.5rem; }
    </style>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Express Acceptance</h1><br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <p>
                Pursuant to and for the purposes of Sections 1341 and 1342 of the Italian civil code the User declares to
                have read and expressly approves the following clauses of the Terms:
            </p>
            <ul>
                <li>5.&nbsp;&nbsp;Registration Service,</li>
                <li>7.&nbsp;&nbsp;Use of the Services and of the Resources: warnings and disclaimers</li>
                <li>12.&nbsp;Contents: warnings and disclaimers</li>
                <li>15.&nbsp;Indemnity</li>
                <li>16.&nbsp;Warranty and assistance</li>
                <li>17.&nbsp;Warranties Exclusion</li>
                <li>18.&nbsp;Limitation of Liabilit,</li>
                <li>19.&nbsp;Modifications</li>
                <li>20.&nbsp;Duration of the Services withdrawal and termination,</li>
                <li>21.&nbsp;Settlement of disputes, applicable law, jurisdiction and competence</li>
                <li>22.&nbsp;General - letter(a) Assignment</li>
            </ul>


        </div>
    </div>
</div>
{% endblock %}