{% extends "base.html" %}
{% block container %}
    <div class="container-fluid">
        <div class="row margin-bottom-15">
            <div class="col-md-12">
                <h1 class="">Invite<br><strong class="text-red"> New members</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Help us to reach <strong>makers, innovators and thinkers</strong> and engage in the <strong>4th Industrial revolution!</strong>
                    If you know someone with great ideas, projects and visions around
                    <strong>new forms of production and making</strong>, give us their contact and we will invite them to join our movement, participate in our events, and connect with the cutting-edge OpenMaker community.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    To invite a new member, just fill in the fields below. You can invite as many as you want.<br>We can’t wait to welcome them all!
                </p>
                    <form class="form-group margin-top-40" action="{% url 'dashboard:invite' %}" method="post">
                        <div class="col-md-8 col-md-offset-2">
                        {% csrf_token %}
                        <input class="form-control" required type="text" name="first_name" placeholder="First name"><br />
                        <input class="form-control" required type="text" name="last_name" placeholder="Last name"><br />
                        <input class="form-control" required type="email" name="email" placeholder="E-mail"><br />
                            <span  class="pointer" style="cursor:pointer;">
                                <label style="font-weight: 500!important;" >
                                    <span ng-click="tac=!tac;">
                                        <span ng-show="tac" class="glyphicon glyphicon-check text-red"></span>
                                        <span ng-show="!tac" class="glyphicon glyphicon-unchecked text-red"></span>
                                        <input type="checkbox" ng-model="tac" required="required" class="fake-check">
                                        &nbsp;You agree to the conditions
                                    </span>
                                </label>
                                (<a class="text-red" target="_blank" href="{% url 'dashboard:express_acceptance' %}">Express Acceptance</a>)
                            </span>
                            <br>
                            <span  class="pointer" style="cursor:pointer;">
                                <label style="font-weight: 500!important;" >
                                    <span ng-click="privacy=!privacy;" >
                                        <span ng-show="privacy" class="glyphicon glyphicon-check text-red"></span>
                                        <span ng-show="!privacy" class="glyphicon glyphicon-unchecked text-red"></span>
                                        <input type="checkbox" ng-model="privacy" required="required" class="fake-check">
                                        &nbsp;
                                        You agree to use your data to allow us to map the community of makers and encourage the meeting between
                                        representatives of the makers' community and the manufacturing industry
                                        By registering you agree to the following conditions
                                    </span>
                                    (<a class="text-red" target="_blank" href="{% url 'dashboard:terms_conditions' %}">Terms of service</a>)
                                    <span ng-click="privacy=!privacy;" >
                                        , You consent to the use of your data in accordance with the privacy policy
                                    </span>
                                        (<a class="text-red" target="_blank" href="{% url 'dashboard:privacy' %}">Privacy policy</a>)
                                    <span ng-click="privacy=!privacy;" >
                                        you ask to use our service.
                                        You will receive an email to confirm your registration.
                                    </span>
                                </label>
                                <!--(<a class="text-red" target="_blank" href="{% url 'dashboard:privacy' %}">Privacy Policy</a>)-->
                            </span>
                            <input class="col-md-2 col-md-offset-10 btn login-button margin-top-30" type="submit" value="Invite">
                        </div>
                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                            <div class="form-group" ng-init="privacy=false; tac=false;" style="padding: 1%;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            <p>
                    <small>
                        The service offered by the Top-ix Consortium, it is indefinite and you can withdraw at any time within the
                        <a class="text-red" target="_blank" href="{% url 'dashboard:terms_conditions' %}">terms and the conditions</a>.<br>
                        Be aware that <strong>OpenMaker</strong> manages personal contacts in a responsible way: contacts are used only to send an invitation e-mail to the nominated person, and our systems will ensure that multiple emails are avoided.<br />
                        The contacts that you provide will not be exploited for commercial purposes, and will not be passed to third parties who may do so.<br />
                        If you wish to get more information about the <strong>OpenMaker</strong>’s chain of nomination, <strong><a href="mailto:info@openmaker.eu"><span class="text-red">contact us</span></a></strong>!
                    </small>
                </p>
                </div>
        </div>
        </div>
    </div>
{% endblock %}