{% extends "base.html" %}
{% block container %}
    <div class="container">
        <div class="row margin-bottom-15">
            <div class="col-md-12">
                <h1 class="margin-bottom-30">Invite<br><strong class="text-red"> new membes</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="col-xs-12 col-md-10 col-md-offset-1">
                    Help us to achieve <strong>makers, innovators and thinkers</strong> in the current <strong>4th Industrial revolution!</strong><br /><br />
                    If you know someone with great ideas, projects and visions around <strong>new forms of production and making</strong>, give us their contact and we will invite them to join our movement, participate in our events, and get in touch with a broader community of innovators.<br /><br />
                    Be aware that <strong>OpenMaker</strong> manages personal contacts in a responsible way: contacts are used only to send an invitation e-mail to the nominated person, and our systems will ensure that multiple emails are avoided.<br />
                    The contacts that you provide will not be exploited for commercial purposes, and will not be passed to third parties who may do so.<br /><br />
                    If you wish to get more information about the <strong>OpenMaker</strong>’s chain of nomination, <strong><a href="mailto:info@openmaker.eu">contact us</a></strong>!
                </p>


            </div>
        </div>
        <div class="row margin-bottom-40 margin-top-30">
            <div class="col-md-12">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-40">
            <div class="col-md-12">
                <div class="col-md-8 col-md-offset-2">
                    <form class="form-group" action="{% url 'dashboard:invite' %}" method="post">
                        {% csrf_token %}
                        <input class="form-control" required type="email" name="email" placeholder="E-mail"><br />
                        <input class="form-control" required type="text" name="first_name" placeholder="First name"><br />
                        <input class="form-control" required type="text" name="last_name" placeholder="Last name"><br />
                        <input class="col-md-2 col-md-offset-10 btn login-button" type="submit" value="Invite">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}