{% extends "base.html" %}
{% block container %}
    <div class="container" ng-controller="onboardingController">
        <div class="row margin-bottom-15 margin-top-30">
            <h3 class="modal-title text-center text-red">Welcome on the
                <strong>OpenMaker Onboarding</strong>
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 margin-top-15">
                <p>
                    You are about to join the <strong>OpenMaker</strong> community for accelerating the <strong>4th Industrial Revolution</strong>! <br>
                </p>
                <p>
                    By filling this onboarding form, you will join a cross-border movement of people eager to steer radical change in our society, making the most of the 4th Industrial Revolution to drive distribution, decentralisation and mass collaboration in the European manufacturing sector.
                </p>
                <p>
                    OpenMaker is an enabling environment that offers a unique ecosystem of inspiration, learning and collaboration opportunities and resources to grow your innovation capacity in this emerging world.<br>
                    Whether you are a maker, a manufacturer, a practitioner, a researcher or an enthusiast within the making domain, join us in this open and collaborative journey towards a better world for all!
                </p>
            </div>
        </div>
        <div class="row margin-top-20 margin-bottom-30">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

                <form class="form-group" action="{% url 'dashboard:onboarding' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input id="profile-image-input" onchange="angular.element(this).scope().previewImage(this)" type="file" name="profile_img" style="display: none;"/>

                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" required type="text" name="first_name" placeholder="First name *" ><br />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" required type="text" name="last_name" placeholder="Last name *" ><br />
                        </div>
                        <div class="col-md-12 ">
                            <input class="form-control" required type="email" name="email" placeholder="E-mail *"><br />
                        </div>
                        <div class="col-md-12 ">
                            <input class="form-control" required type="password" minlength="8" name="password" placeholder="Password *"><br />
                        </div>
                        <div class="col-md-12 ">
                            <input class="form-control" required type="password" minlength="8" name="password_confirm" placeholder="Confirm password *"><br />
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" name="gender" required style="color:rgba(119, 119, 119, 0.81);">
                                <option selected="selected" disabled="disabled" >Gender *</option>
                                <option value="male" >Male</option>
                                <option value="female" >Female</option>
                                <option value="other" >Does it matter?</option>
                            </select>
                        </div><br />

                        <div class="col-md-6">
                            <p class="input-group" style="margin: 0;">
                                <input type="text" class="form-control" placeholder="Birthdate YYYYY/MM/DD *"
                                       uib-datepicker-popup="yyyy/MM/dd"
                                       ng-model="birthdate"
                                       name = "birthdate"
                                       is-open="datePopup.opened"
                                       datepicker-options="dateOptions"
                                       ng-required="true"
                                       close-text="Close"
                                       alt-input-formats="altInputFormats" required/>
                                <span class="input-group-btn">
                                <button type="button" class="form-control btn btn-default" style="border-radius: 0 4px 4px 0;" ng-click="openDatePopUp()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <label for="" >City <span class="text-red">*</span></label>
                            <input ng-init="place={};" required class="form-control"
                                   vs-google-autocomplete="{ types:['(cities)'] }"

                                   ng-model="city"
                                   vs-latitude ="place.lat"
                                   vs-longitude="place.long"
                                   vs-street-number="place.street_number"
                                   vs-street="place.street"
                                   vs-city="place.city"
                                   vs-state="place.state"
                                   vs-country="place.country"
                                   vs-country-short="place.country_short"
                                   vs-post-code="place.post_code"

                                   type="text" name="city" id="city"
                                   class="form-control"
                                   placeholder="Start typing the city name where you are based *"><br />

                            <input type="hidden" value="{$ place $}" name="place">

                        </div>
                        <div class="col-md-12">
                            <input class="form-control" required type="text" name="occupation" placeholder="Occupation *"><br />
                        </div>
                        <div class="col-md-12">
                            Enter up to 3 <strong>keywords</strong> about you, your profession and/or your values.<br><br>
                        </div>
                        <div class="col-md-12" ng-init="tags={ available: {{ tags }} }">

                            <ui-select
                                       multiple tagging
                                       tagging-label="" tagging-tokens="SPACE|ENTER|,|/|<|>|{|}|^"
                                       sortable="true"
                                       spinner-enabled="true"
                                       ng-class="{'form-control':true}"
                                       ng-model="tags.selected"
                                       title="Choose a tag *" limit="3"
                            >

                                <ui-select-match placeholder="Type a tag and press enter *">
                                    {$ $item $}
                                </ui-select-match>

                                <ui-select-choices repeat="tag in tags.available | filter:$select.search track by $index">
                                    <div ng-bind-html="tag | highlight: $select.search"></div>
                                </ui-select-choices>

                            </ui-select><br/>

                            <input type="hidden" name="tags" ng-value="tags.selected" required/>

                        </div>
                        <div class="col-md-12">
                             <strong>Twitter username.</strong><br>It will help us in providing you with <strong>valuable eperience</strong>!<br><br>
                        </div>
                        <div class="col-md-12">
                            <!-- ToDo tell them we will use it for following purposes -->
                            <div class="input-group">
                            <span class="input-group-addon" style="background-color: #fff;" ><span class="fa fa-at"></span></span>
                                <input type="text" class="form-control" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;" name="twitter" placeholder="Twitter username">
                            </div>
                        </div>

                        <div class="col-md-12 margin-top-20">
                            * required fields
                        </div>

                        <div class="col-md-12 margin-top-20">

                            <div class="form-group" ng-init="privacy=false; tac=false;" style="padding: 1%;">

                            <span  class="pointer" style="cursor:pointer;">
                                <label style="font-weight: 500!important;" >
                                    <span ng-click="tac=!tac;">
                                        <span ng-show="tac" class="glyphicon glyphicon-check text-red"></span>
                                        <span ng-show="!tac" class="glyphicon glyphicon-unchecked text-red"></span>
                                        <input type="checkbox" ng-model="tac" required="required" class="fake-check">
                                        &nbsp;I allow for the use of my online publicly available data
                                    </span>
                                </label>
                                (<a class="text-red" target="_blank" href="{% url 'dashboard:terms_conditions' %}">Terms of service</a>)
                            </span>
                                <br>
                                <span  class="pointer" style="cursor:pointer;">
                                <label style="font-weight: 500!important;" >
                                    <span ng-click="privacy=!privacy;" >
                                        <span ng-show="privacy" class="glyphicon glyphicon-check text-red"></span>
                                        <span ng-show="!privacy" class="glyphicon glyphicon-unchecked text-red"></span>
                                        <input type="checkbox" ng-model="privacy" required="required" class="fake-check">
                                        &nbsp;I allow for the use of the data provided in the onboarding form
                                    </span>
                                </label>
                                (<a class="text-red" target="_blank" href="{% url 'dashboard:privacy' %}">Privacy Policy</a>)
                            </span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <input class="col-md-2 col-md-offset-10 btn login-button" type="submit" value="SignUp">
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7FZZonHwxfYY2gwDAgd587AMah0336Gw&libraries=places" type="text/javascript"></script>
{% endblock %}