{% extends "base.html" %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Privacy Policy</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>
                The Open Maker Consortium is committed to protecting your privacy. This privacy statement applies to the Open Maker Onboarding Form survey. It does not apply to other Open Maker surveys, sites, products or services.
                Collecting Your Information
                Some personal information may be collected about you if you choose to participate in the survey. In particular, your responses to survey questions, as well as details about how you connected to this survey website, including your IP address, and the date and time when you connected may be collected. Information collected may also include contact details, such as your name, address, email address and phone number.
                Survey responses are collected by Tecnalia, a partner of the Open Maker Consortium, in charge of conducting this survey on Open Maker Consortium’s behalf. All information collected by Tecnalia in the context of this survey will be shared with the Open Maker Consortium partners.

            </p>
            <br>
            <h3>How the Open Maker Consortium Uses Your Information</h3>
            <p>
                Your responses to the survey questions will be linked to the contact information you have provided to Open Maker Consortium (either in the survey or during a previous interaction with Open Maker Consortium) so that we can identify how individual survey participants responded to the questions.
                Your contact details, including your name, phone number, address and email address, may be used by Open Maker Consortium to carry out the survey, to communicate with you about the survey, to provide you with incentives for completing the survey, and to carry out any other interaction you have requested or authorized. If you have provided your permission, Open Maker Consortium may also contact you regarding participation in future research and activities of the Open Maker Project. Open Maker Consortium may also use the collected information to administer the survey, to improve future surveys, and to analyse aggregate trends and survey results.
                Cookies & Similar Technologies.
            </p>
            <p>
                When you connect to this survey website, this website may place one or more "cookies" on your machine. For example, if you register to complete this survey, this website will set or read one or more additional cookies to remember that you have “logged in”. This website uses cookies to operate and, for example, to prevent the Open Maker Consortium from inadvertently presenting you with the same survey twice.
                We don’t normally use cookies on our web site, but in certain exceptional cases we may use cookies which place technical session-control data in your browser’s memory. These data are automatically erased at the latest when you close your browser.
                Exceptionally our services usually require the storage of personal data in a cookie, for instance a user ID.
                Of course, it is perfectly possible to consult our web site without the use of cookies. Please note, however, that most browsers are programmed to accept cookies in their default configuration. You can prevent this by changing the appropriate setting in the browser options. If you set the browser to refuse all cookies, this may restrict your use of certain functions on our web site.
            </p>
            <br>
            <h3>Where Information Is Processed and Stored</h3>
            <p>
                Personal information collected on the Open Maker Project sites and services may be stored and processed in Europe or any other country where Open Maker Consortium maintain facilities, and by completing the survey, you consent to any such transfer of information outside of your country.  Open Maker Consortium abides by the Data Protection Directive (officially Directive 95/46/EC on the protection of individuals with regard to the processing of personal data and on the free movement of such data), a European Union directive adopted in 1995 which regulates the processing of personal data within the European Union.
            </p>
            <p>
                Sharing or Disclosing Personal Information
                Except as otherwise described in this statement, personal information you provide in the survey will not be shared outside of Open Maker Consortium.
                Please be aware that this privacy statement and any choices you make in the survey will not necessarily apply to personal information you may have provided to Open Maker Consortium in the context of other, separately operated, Open Maker Consortium events, products or services.
            </p>
            <br>
            <h3>Communication Preferences</h3>
            <p>
                You can stop delivery of future promotional email from Open Maker Consortium sites and services by following the specific instructions in the email you receive. You also have the option of proactively making choices about the receipt of promotional email, telephone calls, and postal mail from particular Open Maker Consortium site, opt out of subscriptions, and choose whether to share your contact information with Open Maker Consortium partners.
            </p>

            <br>
            <h3>Changes to Our Privacy Statements</h3>
            <p>
                Open Maker Consortium may occasionally update this privacy statement to reflect customer feedback and changes in its services. When Open Maker Consortium posts changes to a statement, Open Maker Consortium will revise the "last updated" date at the top of the statement. If there are material changes to the statement or in how Open Maker Consortium will use your personal information, Open Maker Consortium will notify you either by prominently posting a notice of such changes before they take effect or by directly sending you a notification. Open Maker Consortium encourages you to periodically review the privacy statements for the products and services you use to learn how Open Maker Consortium is protecting your information.
            </p>
            <br>
            <h3>Accessing Your Personal Information, and How to Contact Open Maker Consortium</h3>
            <p>
                For general Open Maker Consortium privacy issues, or to submit feedback or ask Open Maker Consortium questions about its privacy practices and this privacy statement, please contact Open Maker Consortium by email at Leonardo Camiciotti by postal mail at the address below:
                admin@openmaker.eu
            </p>


            <br>
            <p>
                To submit feedback or ask questions about Open Maker’s collection and use of your personal information, please contact Leonardo Camiciotti by postal mail at the address below:
                <br>
                <p>admin@openmaker.eu</p>
            </p>
            <br>
            <br>


        </div>
    </div>
</div>

{% endblock %}