{% extends "base.html" %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Privacy Policy<br><small>(version of 15/09/2017)</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Controller</h3>
                <p>
                    The controller for the processing of your data is BOGAZICI UNIVERSITESI, established in Bebek, Istanbul 34342, Turkey (hereinafter referred to as “we” or “us”) that appointed as representative of Bogazici according to art.
                    5, of the italian legislative decree 196/2003 and data processor CONSORZIO TOPIX – TORINO E PIEMONTE EXCHANGE POINT (Top-ix) established in Via Maria Vittoria 38, Torino 10123, Italy.
                    If you have any question you can write at our addresses or to the email info@openmaker.eu.
                    The data processing will be performed for us by the research team of the Dept. of Computer Engineering and is led by Assoc. Prof. Ali Taylan Cemgil.
                    We hereby inform you that we will process your data in accordance with applicable laws and regulations and in full respect of your rights and, in particular, your privacy.
                </p>
                <br>
                <h3>DATA</h3>
                <p>
                    We will process a selection of the content published since september 2017 until the end of the OpenMaker project (scheduled for November 2018) by the users of the social media Twitter, Facebook, Reddit, and Eventbrite and made publicly available by them through their APIs.
                    In particular, we will process the following content for each of the following social media:
                <ul>
                    <li>
                        Twitter - tweets containing keywords related to maker communities (Arduino, raspberry pi, 3d printing),
                        and the followers of key influencers of following topics: Arduino, raspberry pi and 3d printing;
                    </li>
                    <li>
                        Facebook - the posts from Facebook open groups and pages related to maker communities, and  events related to maker communities;
                    </li>
                    <li>
                        Reddit - posts and comments from the subreddits related to maker communities;
                    </li>
                    <li>
                        Eventbrite - events related to maker communities.
                    </li>
                </ul>
                <strong>Contact information and communications</strong> - When you send us your contact details (email, etc.)
                and an email or other communication we record and store your contact details and communication.
                </p>
                <br>
                <h3>PURPOSES</h3>
                <p>
                    Your personal data will be processed with the following purposes:
                <ul>
                    <li>
                        to perform, in the frame of the european project OpenMaker, a scientific research project consisting in acquiring the data to train and test statistical machine learning algorithms,
                    </li>
                    <li>
                        to elaborate and disseminate the tests and other results of the research activity,
                    </li>
                    <li>
                        to perform further scientific research,
                    </li>
                    <li>
                        to fulfill legal obligations and/or comply with orders from public authorities, including the judicial authorities.
                    </li>
                </ul>
                </p>
                <br>
                <h3>PROCESSING METHODS</h3>
                <p>
                    The data will be:
                <ul>
                    <li>
                        collected electronically,
                    </li>
                    <li>
                        stored in digital format on the server in our availability located in Italy,
                    </li>
                    <li>
                        protected from risk of destruction, modification, deletion and unauthorized access with efficient physical, logical and organizational security measures,
                    </li>
                    <li>
                        stored for 5 years,
                    </li>
                    <li>
                        further processed to the extent strictly necessary to give effect to the purposes outlined above..
                    </li>
                </ul>
                </p>
                <br>
                <h3>
                    COMMUNICATION TO THIRD PARTIES
                </h3>
                <p>
                    We may:
                <ul>
                    <li>
                        communicate to the users registered at the site openmaker.eu the results of the tests consisting in a selection of the data acquired through the public APIs of twitter, facebook, reddit, and eventbrite, made using the statistical machine learning algorithms,
                    </li>
                    <li>
                        communicate the data to third parties who work with us and deal with phases of the processes necessary for the proper performance of our activities solely for the purposes indicated above who, if necessary, will be assigned to such processing (and then they will become processors of your data),
                    </li>
                    <li>
                        communicate and diffuse the data, in anonymous and aggregate form, for the purposes indicated above,
                    </li>
                    <li>
                        communicate the data to third parties to comply with legal obligations or to comply with orders from public authorities, including the judicial authorities.
                    </li>
                </ul>
                </p>
                <br>
                <h3>
                    NATURE AND EFFECTS OF DATA PROVIDING
                </h3>
                <p>
                    The provision of the data is optional: if you don’t post contents in the social media for the period of the research project we will not process your data, but whithout them the statistical machine learning algorithms will not take into account your contents.
                </p>
                <br>
                <h3>
                    RIGHTS
                </h3>
                <p>
                    We remind you that the law protects your right to access, update, correct and object to the processing of your data. These rights include, but are not limited to, the right to obtain confirmation of whether or not data concerning you exist and to be informed of them in intelligible form, information about the source of the data, the purposes and methods of processing, the updating, correction or integration of your data, the erasure, transformation in an anonymous form or blocking of personal data processed unlawfully, and the right to object, in whole or in part, to their use.
                </p>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}