{% extends "base.html" %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Profile</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 margin-top-50">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        {% if profile %}
                        <img src="{{profile.picture_url}}" alt="" class="img-circle img-responsive" />
                        {% else %}
                        <img src="/static/images/user_icon.png" alt="" class="img-circle img-responsive" />
                        {% endif %}
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{request.user.first_name}} {{request.user.last_name}}
                        </h4>
                        <small>
                            <cite title="Location">San Francisco, USA <i class="glyphicon glyphicon-map-marker"></i></cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> {{request.user.email}}
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://openmaker.eu">  http://openmaker.eu</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> ...</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}