{% extends "base.html" %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Profile</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-3 margin-top-50">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-xs-4 col-xs-offset-4 ">
                        <img src="{{profile.picture.url}}" alt="" class="img-circle img-responsive" />
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div>
                            <h4>
                            {{profile.user.first_name}} {{profile.user.last_name}}
                        </h4>
                        <small>
                            <cite title="Location">San Francisco, USA <i class="glyphicon glyphicon-map-marker"></i></cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> {{profile.user.email}}
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://openmaker.eu">  http://openmaker.eu</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> ...</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}