{% extends "base.html" %}
{% block container %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-xl" style="height: initial;">Resend Activation email</h2>
            </div>
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0"><hr></div>
            <div class="col-md-8 col-sm-12 col-sm-offset-0">
                <div style="width: 100%; float: left;" class="border-dash margin-top-25 margin-bottom-25"></div>
            </div>
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                    <form method="post" action="{% url 'dashboard:resend_activation_email' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <button type="submit" class="btn login-button pull-right margin-top-45">Resend email</button>
                    </form>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-sm-offset-0">
                <div style="width: 100%; float: left;" class="border-dash margin-top-25 margin-bottom-25"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
