{% extends "base.html" %}
{% block container %}
    <div class="container" ng-controller="searchController" ng-init="get_last_members()">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li>Search</li>
                        <li class="active">Members</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h1 class="margin-bottom-30">Explore Members</h1>
                </div>
                <div class="col-md-6">
                    <h4 class="text-grey">Start typing name, surname or email</h4>
                    <form>
                        <div class="input-group has-feedback has-feedback-left">
                            <input ng-change="search()" ng-model-options="{allowInvalid: true}" ng-model="search_filter" id="filter" type="text" class="form-control" placeholder="Search Here.." value="">
                            <i class="glyphicon glyphicon-search form-control-feedback text-grey"></i>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h4>&nbsp;</h4>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-default">New users <span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-default">Next filter <span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 margin-top-30">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3>Results: {$results.length$}</h3>
                    <div class="col-md-4" ng-repeat="data in results">
                        <a href="/profile/{$data['id']$}">
                            <h4 class="pull-left" style="height: 4em;"><img class="img-circle" ng-src="{$ data.picture_url $}" alt="" style="height: 80px; width: 80px;">&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <h4 class="pull-left" style="line-height: 4em;">
                                <p style="line-height: 81px;"  ng-bind-html="highlight((data.user.first_name +' '+data.user.last_name), search_filter)"></p>
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}