{% extends "base.html" %}
{% block container %}
    <div class="container" ng-controller="searchController" ng-init="get_last_members('{{search_string}}')">

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h1 class="margin-bottom-30">Explore the <br><strong class="text-red">OpenMaker</strong><span class="text-black"> Community</h1>
                    <h2><small>We have <strong class="text-red">{{ n_registered_user }} </strong> members!</small></span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="col-md-5" style="padding-right:3%;">
                    <!--Anchor for members on page load-->
                    <div class="col-md-12"> <a id="members" href="#" >&nbsp;</a></div>
                    <div class="col-md-12">
                        <h3 ng-hide="is_last_members_label" class="margin-bottom-30">Search results for:  <span class="text-red">&nbsp;{$ search_filter $}&nbsp;</span>&nbsp;({$results.length$} Results)</h3>
                        <h3 ng-show="is_last_members_label" class="margin-bottom-30">OM Last Onboarded </h3>
                    </div>
                    <div class="col-md-12">
                        <form>
                            <div class="has-feedback has-feedback-left" style="width:100%">
                                <input class="form-control"
                                       ng-change="search_filter.length < 3 ? search() : searchDebounced()"
                                       ng-model-options="{allowInvalid: true}"
                                       ng-model="search_filter" id="filter" type="text" class="form-control"
                                       placeholder="Search members for name, city, tagwords and more" value=""
                                >
                                <i class="glyphicon glyphicon-search form-control-feedback text-grey"></i>
                            </div>
                        </form>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="col-md-12" ng-repeat="data in results">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <circle-image src="data.picture" href="'/profile/'+data['id']" ></circle-image>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <a href="/profile/{$data['id']$}">
                                    <strong><span ng-bind-html="highlight((data.user.first_name +' '+data.user.last_name), search_filter)"></span></strong>
                                </a>
                                <br><span ng-bind-html="highlight((data.city), search_filter)"></span>
                                <br><span ng-bind-html="highlight((data.occupation), search_filter)"></span>
                                <br>

                                <i
                                        ng-repeat="tag in data.tags"
                                        ng-class="{ 'text-red' : search_filter == tag.name }"
                                        ng-click="search( search_filter == tag.name ? ' ' : tag.name)"
                                        class="pointer"
                                >
                                    <strong>#</strong><span ng-bind-html="highlight((tag.name), search_filter)"></span></i>&nbsp;&nbsp;
                                </i>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Anchor for tag on page load-->


                <div class="col-md-7">
                    <div class="row">

                        <div class="col-md-12 margin-top-30">
                            <div class="col-md-12">
                                <br>
                            </div>
                        </div>

                        <div class="col-md-12"><a id="maps" href="#" ></a>&nbsp;</a></div>
                        <div class="col-md-12">
                            <h3>Location</h3>
                            <br>
                            <locations-map></locations-map>
                        </div>

                        <!--Anchor for members on page load-->
                        <div class="col-md-12"><a id="tags" href="#" ></a>&nbsp;</a></div>
                        <div class="col-md-12">
                            <h3>Hot Tags</h3>
                            <div class="" >
                                <tag-bubbles tags="{{ hot_tags }}"></tag-bubbles>
                            </div>
                        </div>

                        <div class="col-md-12 sector-bar-container">
                            <h3>Sector</h3><br>
                            <div class="" >
                                <pie-sector></pie-sector>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row"><br><br>
                    </div>
                </div>




            </div>


        </div>
        <!--add space on bottom-->
        <div class="row"><div id="col-md-12"><br></div></div>
    </div>
{% endblock %}