{% extends "base.html" %}
{% block container %}
    <div class="container" style="padding-bottom: 50px;">

        <h2>Terms of Service</h2>
        <p>
            What follow are the conditions (hereafter “Conditions”) regulating the use of the service Invite a Friend, of other Services and of other Resources.</br></br>
            The User accepts the Terms and Conditions in full, and is committed to respect them with one of the following behaviours:
        </p>
        <ol type="a">
            <li>approving the Conditions when subscribing the Service Invite a Friend or in other way; and/or</li>
            <li>using the Services; and/or</li>
            <li>using the Resources in any other way.</li>
        </ol>
        <p>The User is committed to not use Services and Resources if he has not accepted the Conditions, and to read the Condition carefully before using Services and Resources.</p>



        <h3><br />1.Definitions</h3>
        <p>
            For the purposes and for the effect of these Conditions, the following definitions apply.
        </p>
        <p>
            "Content" means texts, images, audio and / or video recordings, data and / or information, including commercials, including personal data, in any format (file or sequence of other bytes) that are transmitted, copied, sent, and / or processed by Users using Services or Top-IX and / or made available to Users and / or third parties. Each of the Content will also be referred to as "Content".
        </p>
        <p>
            "Connection Interfaces": interfaces (web, etc.) running on certain configurations of certain devices through which Users can use the Services by connecting to Resources through the Internet. Each of the Connection Interfaces will also be called "Connection Interface".
        </p>
        <p>
            "Top-IX": TOP-IX Consortium, based in Turin, Via Maria Vittoria n. 38, cap 10123, VAT and registration number at the Turin Business Register 08445410015.
        </p>
        <p>
            "Resources" means systems consisting of software and data running on hardware devices in the availability of Top-IX accessible by Users through the Internet, including the Site, which make the Services available.
        </p>
        <p>
            "Services": The Service Invites a Friend and the Navigation Service accessible through the Resources. Each of the Services will also be called "Service".
        </p>
        <p>
            "Invite a Friend Service": A Service that allows Users to Use Resources to invite a friend to fill in the questionnaire available on the Site.
        </p>
        <p>
            "Navigation Service": A Service that allows Users to Use the Resources to access Content made available from Top-IX.
        </p>
        <p>
            "Site": the second level domain "openmaker.eu" and all subdomains of this.
        </p>
        <p>
            "Software" means any set of instructions (programs and / or data) that can be interpreted by a device to direct the operation of its processor made available to Top-IX Users.
        </p>
        <p>
            "Users": those who use Resources and Services. Each of the Users will also be called "User".
        </p>
        <h3><br />2.Object</h3>
        <p>
            Top-IX commits to make available to the Users, who intend to use them, the Secondary Services and Resources, the terms set forth in the Terms.
        </p>
        <h3><br />3.Use of Services</h3>
        <p>
            Users can use the Services whenever they want when they are available through the Connection Interfaces.
        </p>
        <h3><br />4.Use of services and resources: obligations of users</h3>
        <p>
            The User agrees to:
        </p>
        <ol type="A">
            <li>not conceal or render unidentifiable identity, or in any event render it impossible to return to Content uploading to it;</li>
            <li>not interrupt, harm, or restrict Services, servers or the Network connected to Services and Resources or violate security-related policies, policies, or policies of the Services-related network, including the rules of good Expected behaviour for users of services usable through the Internet (Netiquette);</li>
            <li>Do not intentionally or unintentionally violate applicable laws in Italy, the country where the User is located or other laws applicable to the activities the User carries out, including the rules on data export or encryption;</li>
            <li>Do not engage or occupy Resources or prevent access to Services and Resources and their use, without Top-IX permission;</li>
            <li>Do not send undesired or unsolicited e-mail;</li>
            <li>Do not simulate being Top-IX or others;</li>
            <li>Do not counterfeit headers or otherwise manipulate identifiers (including URIs) with the intent of forging the origin of any Content transmitted using the Services;</li>
            <li>not use the Services or Content in any way to make or allow third parties to perform scraping or other data acquisition activities by circumventing the normal functionality of the Connection Interfaces.</li>
        </ol>
        <p>
            The User shall be provided with suitable connectivity devices and services to allow the efficient operation of the Connection Interfaces in accordance with the technical specifications indicated by Top-IX, updated from time to time.
        </p>
        <h3><br />5.Use of services and resources: notice and exclusion of liability</h3>
        <p>
            Top-IX controls the operation of Resources and Services from Italy and does not guarantee that Resources and Services are fit for use or accessible in any geographical area.
        </p>
        <p>
            Top-IX will use all its capabilities and attentions to the extent reasonably possible to maintain the availability of Resources and the functionality of the Services, even if it does not guarantee that Resources and Services are available at any time.
        </p>
        <p>
            In particular, expressly excludes any liability for the case where the malfunction of the Services or Resources depends on:
        </p>

        <ul>
            <li>Unauthorized or incorrect use of the Services or Resources;</li>
            <li>failure or partial operation of the equipment or equipment of the User or non-compliance with the technical specifications indicated by Top-IX;</li>
            <li>dependent on the liability of Internet access providers or telephone line managers;</li>
            <li>malfunctions of the internet or telephone network;</li>
            <li>unauthorized access to Top-IX Resources by the User or by a third party or alteration in the transmission of the Content;</li>
            <li>causes of force majeure or in any case not dependent on the will or the guilt of Top-IX.</li>
        </ul>
        <p>
            Resources contain links to other resources that users could be redirected to. These resources are not monitored or controlled by Top-IX and therefore Top-IX is not responsible for it.
        </p>
        <p>
            Top-IX does its best to ensure that Services are easily usable with the maximum number of Connection Interfaces but expressly excludes that the Services work with any Connection Interface and the User is aware of and accepts this Service Capabilities Limit.
        </p>
        <h3><br />6.Use of services and resources: author rights</h3>
        <p>
            Without prejudice to the following, Resources, Services, Content, Connection Interfaces and Software are the exclusive property of Top-IX and are protected by Italian and international laws, in particular copyright.
        </p>
        <p>
            Each Content that each User is uploading is owned by that User or his cause.
        </p>
        <p>
            Specific Software or Content may be displayed to holders of the rights and / or regimes of use other than those mentioned above.
        </p>
        <p>
            Top-IX authorizes the User to use the Resources, Connection Interfaces, Content, and Software in order to use the Services.
        </p>
        <p>
            It is expressly excluded and subject to any other right.
        </p>
        <p>
            The aforementioned authorizations are granted non-exclusive and are revocable.
        </p>
        <h3><br />7.Use of services and resources: distinctive signs</h3>
        <p>
            "Top-IX" is a Top-IX distinctive sign.
        </p>
        <p>
            Other distinctive signs in the Resources are the property of their respective owners.
        </p>
        <h3><br />8.Contents: declaration</h3>
        <p>
            The User hereby declare that he has full and legitimate access to all rights to Upload Content and in particular to be fully legitimated to authorize the use of Content within the terms of the Terms.
        </p>
        <p>
            The User expressly states that where he is not fully entitled to Upload Rights, he has been expressly authorized to dispose of the Content by third parties who hold such rights and is therefore fully entitled to grant permission to use the Content With the width provided for in these Conditions.
        </p>
        <p>
            The User agrees not to upload any Content if such Content and / or its use:
        </p>
        <ol type="A">
            <li>is fake, obscene, pornographic, defamatory, or includes racist, violent, offensive, harassing, or instigated information or is illegal in Italy or the place where the User uses the Services or Resources or Based on other applicable laws;</li>
            <li>violates the rules governing the processing of personal data or the protection of secret information;</li>
            <li>presupposes possession of the User's permission, rights or requirements required by the law for which it does not;</li>
            <li>Violates patents, trademarks, copyrights or other rights of third parties;</li>
            <li>contains computer viruses or any program or software designed to interrupt, destroy, damage, or even restrict the functionality of any software, hardware or network device or the Services or Resources themselves;</li>
            <li>is in any way damaging to Top-IX and / or third parties.</li>
        </ol>
        <p>
            The User warrants the good quality of the Content being uploaded and the adequacy of the Content to which they are intended.
        </p>
        <h3><br />9.Contents: declaration</h3>
        <p>
            In no case will Top-IX be held liable for any Content that the User is charging, including, but not limited to, any material or Content omissions or loss or damage to any Content.
        </p>
        <p>
            The User acknowledges and agrees that Top-IX does not provide a Content Backup service that the User is charging and that Top-IX assumes no responsibility for the risk of loss of User Content.
        </p>
        <p>
            Top-IX does not control any Content that the User is charging, although Top-IX reserves the right to know if a Content is illegal or otherwise liable to third parties, to remove it from the Resources and delete it .
        </p>
        <p>
            In any case, Top-IX reserves the right to modify or delete Content that violates these Terms or that contains third-party advertising material.
        </p>
        <h3><br />10.Authorization to use personal data</h3>
        <p>
            The User may allow Top-IX to use his personal information in accordance with the terms of the Privacy Policy of the Website that the User acknowledges and which is an integral part of these Terms.
        </p>
        <h3><br />11.Indemnity</h3>
        <p>
            The User agrees to indemnify and hold harmless Top-IX, its representatives, administrators, employees and business partners from any claim for damages, including reasonable legal fees, to be made by any third party:
        </p>
        <ol type="A">
            <li>as a result of activities undertaken by the User using the Resources or Services;</li>
            <li>in relation to the Content that the User proceeds to Upload.</li>
        </ol>
        <h3><br />12.Exclusion of withdrawal</h3>
        <p>
            The User acknowledges that the right of withdrawal referred to in art. 49-59 of Legislative Decree 206/2005 (Consumption Code) is excluded pursuant to art. 59, paragraph 1, let. A) as the Service Invite a Friend and the Navigation Service are executed immediately and completely after their request by the User.
        </p>
        <h3><br />13.Miscellaneous</h3>
        <p>
            (A) Settlement of disputes and applicable law.
        </p>
        <p>
            In the event of a dispute, the User may refer the matter to the ordinary judicial authority.
        </p>
        <p>
            The contract must be interpreted, evaluated and made in all respects according to Italian law.
        </p>
        <p>
            (B) References.
        </p>
        <p>
            The Conditions recall the provisions of art. 45 et seq. (Of consumer rights in contracts) of Legislative Decree 206/2005 (Consumption Code).
        </p>
        <h3><small>(Version of 03/06/2017)</small></h3>
    </div>
{% endblock %}