{% extends "base.html" %}
{% block container %}
<div class="container" style="padding-bottom: 50px;">

    <h2>Terms of use of Digital Social Platform pages</h2>
    <p>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </p>



        <h3><br />General conditions:</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </li>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis.Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis.  </li>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </li>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </li>
            <ol>
                <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper</li>
                <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper</li>
                <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper</li>
            </ol>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </li>
        </ul>

        <h3><br />Naming and Groups:</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </li>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis.Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis.  </li>
            <ol>
                <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </li>
                <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </li>
            </ol>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </li>
        </ul>

        <h3><br />Content of the user:</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis. </li>
            <li>Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis.Lorem ipsum dolor sit amet, feugiat dapibus eu volutpat lectus, rerum urna vel nunc ullamcorper lacus, ac semper, integer sed et laoreet eleifend, ultricies ante curabitur mi ut. Metus in neque donec nulla quis.  </li>
        </ul>



</div>


{% endblock %}