{% extends "base.html" %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">TERMS OF SERVICE</h1><br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    The following are the terms (hereinafter "Terms") that regulate the provision of the Services and the use of the Resources.
                    The User expresses his will to accept the Terms and undertakes to comply with them by doing any one of the following:
                <ul type="a">
                    <li>
                        approving the Terms when he applies for the registration Service in the Site or in any other way, and/or
                    </li>
                    <li>
                        using the Services, and/or
                    </li>
                    <li>
                        using the Resources in any other way.
                    </li>
                </ul>
                The User undertakes not to use the Services and the Resources if he has not accepted the Terms and undertakes to read the Terms carefully before using the Services or the Resources.
                </p>
                <br>
                <h3>
                    1. DEFINITIONS
                </h3>
                <p>
                    Pursuant to and for the purposes of these Terms the following definitions apply.<br>
                    <strong>"User Area"</strong>: area of the Resources that is accessible only by the User using the Access Codes.<br>
                    <strong>"Upload"</strong>: the act of transferring Contents from a device or from a storage area in the availability of the User to the Resources using Connection Interfaces.<br>
                    <strong>"Access Codes"</strong>: username and password assigned to the User upon application to the registration Service and managed by the Provider or, if the User makes use of Access Codes of Third Party, the third party that provides them.<br>
                    <strong>“Access Codes of Third Party”</strong>: username and password managed by a third party that provides features that allow to use such username and password through the Connection Interfaces allowing to the User who uses the Registration Service to be identified by the Provider.
                    <strong>"Contents"</strong>: text, images, audio and/or video, data and/or information, including personal data, in any format (file or other sequence of bytes) that are transmitted, copied, sent, and/or otherwise processed by the Users using the Services or by the Provider and/or otherwise made available to the Users and/or to third parties. Each of the Contents will also be referred to as "Content".
                    <strong>"Social Data"</strong>: data of the social media accounts that the User points to from among those available through the Connection Interfaces.<br>
                    "Provider": Consorzio TOP-IX, established in Torino, Via Maria Vittoria n. 38, cap 10123, VAT and company registration number to the Register of Companies of Torino 08445410015,
                    on its own and on behalf of other partners of the OpenMaker project that is:
                <ul>
                    <li>
                        BOGAZICI UNIVERSITESI, established in Bebek, Istanbul 34342, Turkey,
                    </li>
                    <li>
                        UNIVERSITY OF ZURICH (UZH), established in Raemistrasse 71, Zurich 8006, Switzerland,
                    </li>
                    <li>
                        IMT ALTI STUDI LUCCA (IMT), established in Piazza San Ponziano 6, Lucca 55100, Italia,
                    </li>
                    <li>
                        THE YOUNG FOUNDATION (YF), established in Victoria Park Square 18, London E2 9PF, United Kingdom,
                    </li>
                    <li>
                        FUNDACIÓN TECNALIA RESEARCH & INNOVATION (TECNALIA) ES3, F69, established in Parque Cientifico y Tecnologico de Bizkaia, C Geldo Edificio 700, Derio Bizkaia 48160, Spain,
                    </li>
                    <li>
                        LAMA DEVELOPMENT AND COOPERATION AGENCY SC (LAMA), established in Via Brunetto Latini 73, Firenze 50133, Italia,
                    </li>
                    <li>
                        CENTIRE S.R.O. (Centire), established in Zahradnicka 72, Bratislava 82108, Slovakia,
                    </li>
                    <li>
                        ACCORD HOUSING GROUP (ACCORD), 27052R, established in Birmingham, Road 178 Bromwich, West Midlands B70 6QG, United Kingdom,
                    </li>
                    <li>
                        PLUSVALUE (PV) established in 9 Perseverance Works, Kingsland Road, London E2 8DD, United Kingdom.
                    </li>
                </ul>
                <strong>"Connection Interfaces"</strong>: interfaces (web, API, or other) operating on certain configurations of certain devices, by means of which the Users can use the Services connecting to the Resources through the Internet. Each of the Connection Interfaces will be also referred to as <strong>"Connection Interface"</strong>.
                <strong>"Publish"</strong>: the act of the User of making available to other Users the Contents that he previously Uploaded in the ways and with the diffusion profiles chosen by the User among those allowed by the functionalities of the Connection Interfaces.
                <strong>"Resources"</strong>: systems made of software and data operating on hardware devices in the availability of the Provider accessible by the Users through the Internet, including the Site, that make available the Services.
                <strong>“Services”</strong>: the Viewing Service, the Filtering Service, the Registration Service, the Publishing Service, the Invite a Friend Service, and the Browsing Service accessible through the Resources. Each of the Services will be also referred to as “Service”.
                <strong>"Browsing Service"</strong>: Service that allows Users to use the Resources to access the Contents made available by the Provider.
                <strong>"Registration Service"</strong>: Service that allows the Users to use their Access Codes to be identified by the Provider and access to the Resources and the Services.
                <strong>"Filtering Service"</strong>: Service that allows Users to use the Resources to access through the Connection Interfaces to a selection of Contents made available by some social media through their API, filtered by statistical machine learning algorithms.
                <strong>"Publishing Service":</strong> Service that allows the Users to Publish Contents through the Resources.
                <strong>"Viewing Service"</strong>: Service that allows the Users to use the Resources to download Social Data over the Internet and display through the Connection Interfaces infographics of synthesis of their activities in relation to the makers community.
                <strong>"Invite a Friend Service"</strong>: Service that allows the Users to use Resources to invite a friend to fill out the questionnaire available on the Site performing a check to avoid multiple submissions.
                <strong>"Site"</strong>: the second level domain “openmaker.eu” and all its sub-domains.
                <strong>"Software"</strong>: any set of instructions (programs and/or data) that can be interpreted by a device to direct the operation of its processor that is made available to the Users by the Provider.
                <strong>"Users"</strong>: those who use the Resources and the Services. Each of the Users will be also referred to as “User”.
                </p>
                <br>
                <h3>2. OBJECT</h3>
                <p>
                    The Provider undertakes to make available to the Users, that are willing to use them, the Services and the Resources according to the following Terms.
                </p>
                <br>
                <h3>3. USE OF THE SERVICES</h3>
                <p>
                    In order to use the Services, the User must be 18 years of age or over and, in any case, he must have the legal capacity to enter into a binding contract.
                    The User can use the Services whenever he wants when they are available through the Connection Interfaces.
                    All the costs of connection to the internet of the device from which the User uses the Services shall be borne by the User.
                    Any request to use a Service from the User shall be binding for the Provider only if the User receives confirmation by e-mail that the request has been confirmed and the Service is available and therefore the information contained in the Resources cannot be considered as an offer to supply any Service but as an invitation to request their supply.
                    Information about the contracts entered into by the User with the Provider (technical steps, storage, access mode, detection and correction of errors, languages available, applicable terms and conditions, etc.) and about the use of the Services is available in the User Area.
                    If in the course of the order procedure, or even later on, the User finds errors, he can write to the Provider to the email address provided in the Site.
                    The contracts concluded will be stored digitally and the User will have access to his profile and contracts through the User Area and to the text of the Terms from the link available in the footer of the Site.
                </p>
                <br>
                <h3>
                    4. VIEWING SERVICE
                </h3>
                <p>
                    The User may use the Viewing Service to:
                <ul>
                    <li>
                        acquire the Social Data;
                    </li>
                    <li>
                        upload the Social Data to the User Area;
                    </li>
                    <li>
                        view infographics based on the Social Data of the User through the Connection Interfaces.
                    </li>
                </ul>
                The User mandates the Provider to Upload the Social Data from the suppliers of the social media services.
                </p>
                <br>
                <h3>
                    5. REGISTRATION SERVICE
                </h3>
                <p>
                    The User applies for the Registration Service following the procedure available on the Site and agreeing to these Terms.
                    When the User registers he chooses the Access Codes that he can use to access the User Area and use the Services through the Connection Interfaces.
                    The Access Codes of the User are not transferable to third parties.
                    The User must remember the username and keep secret the password, and therefore the User is responsible for all the activities carried out using his Access Codes.
                    If the User registered, through the User Area, can modify the configuration options of his profile and Services through the Connection Interfaces.
                    The User agrees:
                <ul type="a">
                    <li>
                        to provide registration details true, complete and updated;
                    </li>
                    <li>
                        to update his data provided to the Provider in order to constantly ensure their accuracy, completeness and updating;
                    </li>
                    <li>
                        to immediately report to the Provider any loss of confidentiality of the password or any use of his Access Codes by third parties or any breach of the security measures provided for the Services and the Resources of which he is aware of;
                    </li>
                    <li>
                        to close the session each time the User stops using the Services or the User Area;
                    </li>
                    <li>
                        not to allow third parties to access to the Site and the Services, using his Access Codes.
                    </li>
                </ul>
                If the User uses the Access Codes of Third Party:
                <ul>
                    <li>
                        declares to have the exclusive availability of the Access Codes of Third Party;
                    </li>
                    <li>
                        acknowledges that may lose the ability to access to the Registration Service if the third party interrupts or changes the functionality of the Access Codes of Third Party (in particular, if the User has not entered a valid email address in his profile);
                    </li>
                    <li>
                        acknowledges that the Provider is not responsible for the service of the third party providing the Access Codes of Third Party;
                    </li>
                    <li>
                        agrees to allow the Provider to acquire Contents, such as his profile, directly from the third party.
                        The User can (and undertakes to do so periodically) change the password using the tools available in the User Area.
                    </li>
                </ul>
                The person who registered in the name and on behalf of a User that is a legal entity, warrants that he is authorized to accept these Terms on behalf of the entity that he represents and that the entity agrees to indemnify the Provider, the Users, or third parties for any breach of these Terms.
                </p>
                <br>
                <h3>
                    6. USE OF THE SERVICES AND OF THE RESOURCES: USER'S OBLIGATIONS
                </h3>
                <p>
                    The User agrees:
                <ul type="a">
                    <li>
                        not to hide or make unrecognizable the User's identity or, in any case, make impossible to attribute to him the Contents that he proceeds to Upload;
                    </li>
                    <li>
                        not to hide or make unrecognizable the User's identity or, in any case, make impossible to attribute to him the Contents that he proceeds to Upload;
                    </li>
                    <li>
                        not to interrupt, damage or limit the Services, the servers or the network connected to the Services and to the Resources or violate the security measures, procedures, policies or rules of the network connected to the Services, including the Netiquette rules;
                    </li>
                    <li>
                        not to intentionally or unintentionally violate the laws applicable in Italy, in the country where the User is located or other laws that are in any case applicable to the activities the User carries out;
                    </li>
                    <li>
                        not to employ or occupy the Resources or prevent access to the Services and the Resources and their use without Provider's permission;
                    </li>
                    <li>
                        not to send Spam e-mails;
                    </li>
                    <li>
                        not to simulate to be the Provider or others;
                    </li>
                    <li>
                        not to forge headings or in any manner manipulate identifiers (including URIs) in order to disguise the origin of any Content transmitted through the Services;
                    </li>
                    <li>
                        not use the Services or the Contents in any way to perform or allow third parties to perform scraping or other data acquisition activities by circumventing the normal functionality of the Connection Interfaces.
                    </li>
                </ul>
                The User shall be provided with suitable connectivity devices and services to allow the efficient operation of the Connection Interfaces in accordance with the technical specifications provided by the Provider, updated from time to time.
                </p>
                <br>
                <h3>
                    7. USE OF THE SERVICES AND OF THE RESOURCES: WARNINGS AND DISCLAIMERS
                </h3>
                <p>
                    The Provider operates the Resources and the Services and supervises its operation from Italy and does not guarantee that the Resources and the Services are suitable or accessible for use from every geographic area.
                    The Provider will use to the extent reasonably possible all its skills and cares to try to maintain the availability of the Resources and the functionality of the Services, even if it does not guarantee that the Resources and the Services are always available.
                    In particular, the Provider expressly excludes any responsibility for the case where malfunctioning of the Services or the Resources depends on:
                <ul>
                    <li>
                        unauthorized or incorrect use of the Services or of the Resources;
                    </li>
                    <li>
                        non-operation or partial operation of the User's device or equipment or non-compliance with the technical specifications set by the Supplier;
                    </li>
                    <li>
                        an event that depends on the responsibility of the internet service providers or the telephone companies;
                    </li>
                    <li>
                        malfunctioning of the internet or telephone network;
                    </li>
                    <li>
                        unauthorized access to the Resources by the User or by a third party or alteration of the transmission of the Contents;
                    </li>
                    <li>
                        event of force majeure or any other cause outside  Provider's control or fault.
                    </li>
                </ul>

                The Resources contain links to other resources, and the User may be redirected to them. Such resources are not monitored or controlled by the Provider and hence the Provider is not responsible for them.


                The Provider does its best to ensure that the Resources and the Services are available with the largest possible number of Connection Interfaces, but expressly excludes that the Resources and the Services will work with every possible Connection Interface and the User acknowledges and accepts this functionality limitation of the Resources and of the Services.

                </p>
                <br>
                <h3>
                    8. USE OF THE SERVICES AND OF THE RESOURCES: COPYRIGHT
                </h3>
                <p>

                    Subject to the following, the Resources, the Services, the Contents, the Connection Interfaces, and the Software are the exclusive property of the Provider, are protected by Italian and international laws, particularly copyright laws.
                    Each Content that each User Uploads is owned by that User or its licensors.
                    For specific Software or Contents, holders and/or licenses different from those mentioned above may be indicated.
                    The Provider authorizes the User to use the Resources, the Connection Interfaces, its Contents, and the Software for the purpose of using the Services.
                    It is expressly excluded any other right.
                    The permissions granted above are non-exclusive and revocable.

                </p>
                <br>
                <h3>
                    9. USE OF THE SERVICES AND OF THE RESOURCES: TRADEMARKS
                </h3>
                <p>
                    "OpenMaker" is a trademark of the Provider.
                    Other trademarks in the Resources are property of their respective owners.
                </p>
                <br>
                <h3>
                    10. USE OF THE SERVICES AND OF THE SITE: REPORTING RIGHTS VIOLATIONS
                </h3>
                <p>

                    If the User knows that any Content violates his rights or third party rights, can write to the Provider to let it know by indicating the Content, the URL at which it is accessible, the one who assumes to be owner of the rights on the Content, the right violated and the evidence of the violation of such right.
                    If the Provider deems the report clearly based, it will remove or disable access to the Content within a reasonable period of time and, if the User transmits also an order of a competent authority, the Provider will act immediately.
                    the Provider reserves the right, but not the obligation, to contact (reasonably and in good faith) the one who results to be owner of the rights on the Content in order to allow him to explain his reasons.
                    The User acknowledges that if he reports that a Content violates his right or a right of a third parties without grounds, will be liable for any damages resulting undertaking to indemnify the Provider.

                </p>
                <br>
                <h3>
                    11. CONTENTS: DISCLAIMER
                </h3>
                <p>

                    The User represents that he has fully and legitimately all rights relating to the Contents (including but not limited to: copyrights, image rights and/or personality rights in general, property rights, privacy rights, etc.) that he proceeds to Upload and in particular to be fully entitled to authorize the use of the Contents according to the terms provided by the Terms.
                    The User hereby expressly declares that wherever he is not fully entitled to the rights on the Contents that proceeds to Upload, he was expressly authorized to dispose of the Contents from the third party owner of such rights, and is therefore fully entitled to release the permission to use the Contents according to the terms provided in these Terms.

                    The User undertakes not to Upload any Content if such Content and/or its use:
                <ul type="a">
                    <li>
                        is false, obscene, pornographic, defamatory, or incluses racist, violent, abusive, or harassing information, or incites to commit crimes or is in any case illegal in Italy or in the place where the User uses the Services or the Resources or according to other applicable laws;
                    </li>
                    <li>
                        violates the rules relating to the processing of personal data and on the protection of trade secrets;
                    </li>
                    <li>
                        requires that the User has permissions, rights or legal requirements that he does not possess;
                    </li>
                    <li>
                        requires that the User has permissions, rights or legal requirements that he does not possess;
                    </li>
                    <li>
                        contains software viruses or any software designed to interrupt, destroy, damage or even limit the functionality of any software, hardware or network device of the Services or of the Resources;
                    </li>
                    <li>
                        is in any way harmful to the Provider and/or to third parties.
                    </li>
                    The User warrants the good quality of the Contents that he Uploads and their adequacy to the use they are intended.
                </ul>
                </p>
                <br>
                <h3>
                    12. CONTENTS: WARNINGS AND EXCLUSION OF LIABILITY
                </h3>
                <p>

                    In no event will the Provider be held liable for the Contents (including the Social Data) that the User Uploads, including, but not limited to, the case where errors or omissions occur in the Contents, or for the loss or damage to any Content.
                    The User acknowledges and agrees that the Provider will not provide a backup service of the Contents that the User Uploads and that the Provider does not assume any responsibility for the risk of loss of the Contents of the User.
                    The Provider performs no control over the Contents that the User Uploads and/or Publish, although the Provider reserves the right, if it becomes aware of the fact that a Content is unlawful or otherwise violates third party's rights, to remove it from the Resources and delete it.
                    In particular, the Provider reserves the right to modify or delete any Content that violates these Terms or that contains advertising of third parties.

                </p>
                <br>
                <h3>
                    13. CONTENTS: LICENSE TO THE PROVIDER
                </h3>
                <p>

                    The User authorizes the Provider to use the Contents that the User shall Upload and/or Publish and every part and/or component, jointly and/or separately, without restriction of any kind, worldwide, for ever and in any case for the duration of the legal protection as provided by in every country of the world, for the purpose of providing the Services to the Users.
                    In particular, the User authorizes the Provider to Publish Contents by making them accessible to other Users in the terms required by the User.

                    By way of example only, in the said authorization shall also be included the right to:
                <ul type="i">
                    <li>
                        publish, broadcast, communicate to the public and make available to the public so that everyone can have access to them at the time and place chosen individually, in whole or in part, by any means and/or technology, and with any mode (including interactive), currently known and/or developed in the future, the Contents through the Resources;
                    </li>
                    <li>
                        for the above purposes, reproduce and modify the Contents in any way or form to meet the technological constraints imposed by the mode of operation of the Services and the Resources;
                    </li>
                    <li>
                        authorize the Users and third parties to reproduce the Contents in order to view them on their devices using the Services and the Resources;
                    </li>
                    <li>
                        license the Contents under the terms of any version of the Creative Commons Attribution - Share Alike license.
                    </li>
                </ul>
                The above rights are granted in a non-exclusive way and therefore the User remains entitled to use the same Contents in any form or manner.
                </p>
                <br>
                <h3>
                    14. AUTHORIZATION TO USE PERSONAL DATA
                </h3>
                <p>
                    The User consent that the Provider uses his personal data according to the terms of the Privacy Policy of the Site that he acknowledges to have read and that is considered to be part of these Terms.
                </p>
                <br>
                <h3>
                    15. INDEMNITY
                </h3>
                <p>
                    The User undertakes to hold harmless the Provider, its representatives, directors, employees, and its business partners from any request of compensation, including reasonable legal charges and fees, that is formulated by any third party:
                <ul type="a">
                    <li>
                        as a consequence of activities performed by the User using the Resources or the Services or performed by any other person who accesses the Resources or the Services using the User's Access Codes;
                    </li>
                    <li>
                        with respect to Contents that the User Uploads and/or Publishes.
                    </li>
                </ul>
                </p>
                <br>
                <h3>
                    16. WARRANTY AND ASSISTANCE
                </h3>
                <p>

                    There is no guarantee of successful operation of the Services and, in the event of malfunction of the Services, the Provider will not be responsible to the User.
                    The User acknowledges and agrees that no reassurance, notice or information, whether oral or written, given by the Provider to the User shall create any warranty in favor of the User except warranties expressly made within these Terms.
                    For all assistance requirements, the User may contact the Provider’s help-desk writing to the address of the Provider and to the other contact data (email or other) indicated in the Site.


                </p>
                <br>
                <h3>
                    17. WARRANTIES EXCLUSION
                </h3>
                <p>
                    In providing the Services the Provider assumes an obligation of means and not of result.
                    Without prejudice to the explicit guarantees given pursuant to these Terms, the Provider excludes any warranty, condition, undertaking or declaration of any kind, either express or implied, statutory or otherwise in relation to the Services or the Resources, including without limitation any implied warranties or conditions of merchantability, satisfactory quality, fitness for a particular purpose, non-infringement or arising from course of dealing, usage or trade practice.
                    Some states/jurisdictions do not allow the exclusion of implied warranties, so the above exclusion may not apply to the User and the User may have other legal rights that vary from state to state or by jurisdictions.
                    Without limitation to the foregoing, the Provider does not warrant that the Services or the Resources will meet User's requirements or that their operation will be error free or uninterrupted or that defects in the Services and in the Resources will be corrected.

                </p>
                <br>
                <h3>
                    18. LIMITATION OF LIABILITY
                </h3>
                <p>
                    The User uses the Services and the Resources at his own risk.
                    To the maximum extent permitted by applicable law, in no event shall the Provider or any of its third-party licensors, suppliers or collaborators be liable to the User or to those claiming through the User for any direct, indirect, consequential, incidental, special or punitive damage or loss of any kind including, but not limited to, loss of profits, loss of contracts, business interruptions, loss of or corruption of data however caused and whether arising under contract or tort, including negligence, even if the Provider has been advised of the possibility of such damages.
                    Notwithstanding the foregoing, in any case in which the Provider be held liable for loss or damage the extent of which can be legitimately limited (including cases where the contract for the supply of the Services is terminated, canceled, revoked or otherwise dissolved or any limitation, exclusion, disclaimer or other provision contained in these Terms is held to be invalid for any reason by a court of competent jurisdiction), such liability whether in contract, tort or otherwise, will not exceed the amount of € 10.00.
                    Nothing in these Terms:
                <ul type="i">
                    <li>shall limit the Provider's liability for the death or damage to the person resulting from the Provider's fault, if the User is a consumer,
                    </li>
                    <li>
                        shall limit the responsibility of the Provider to the User for fact that arises from the fraud or gross negligence of the Provider.
                    </li>
                </ul>
                </p>
                <br>
                <h3>
                    19. MODIFICATIONS
                </h3>
                <p>
                    The Provider, if occurs a valid reason (that is to improve the efficiency of the Services and/or to better protect the rights of the Provider, the Users or third parties according to law and/or these Terms, to deal with security issues, to comply with legal obligations or to orders from public authorities, including the judicial authorities), is expressly authorized at any time, in its sole and absolute discretion, to:
                <ul type="i">
                    <li>
                        amend these Terms;
                    </li>
                    <li>
                        modify the Resources and/or the Services (including the right to interrupt or suspend, in whole or in part, the Resources and/or the Services);
                    </li>
                    <li>
                        suspend or cancel the User's Access Codes and/or modifiy or temporarily or permanently disconnect the Resources and/or the Services (or any part thereof).

                    </li>
                </ul>
                In this case, the Provider will notify the User at least five days in advance by publishing a notice on the Site, in the User Area, by sending an email to the mailbox of the User and/or in any other way.
                The User, within five days from the notification of the amendment, shall have the possibility of accepting the change or to terminate the contract by giving written notice to the Provider.
                In any case, however, continuing to use the Resources and/or the Services, the User will demonstrate his implicit acceptance of the changes made.
                In case of just cause (for example to deal with security issues, to fulfill the requirements of the law or to comply with orders from public authorities, including the judicial authorities, or to protect the rights of the Provider, the Users, or third parties in accordance with the law and/or these Terms) the Provider may suspend or cancel the User's Access Codes and/or modify or disconnect, temporarily or permanently, the Resources and/or Services (or any part thereof) even without giving prior notice.
                In addition, the Provider may at any time, in its sole and absolute discretion and without notice to the User:
                <ul>
                    <li>
                        add new functionalities to the Services currently available, or delete secondary functionalities;
                    </li>
                    <li>
                        add or delete Contents.
                    </li>
                </ul>
                </p>
                <br>
                <h3>
                    20. DURATION OF THE SERVICES, WITHDRAWAL AND TERMINATION
                </h3>
                <p>

                    The Services are active for an indefinite period of time since the request to use each Service is confirmed.
                    The User may terminate the Services at any time.
                    To exercise the right of withdrawal, the User must inform the Provider ( Consorzio TOP-IX, established in Torino, Via Maria Vittoria n. 38, cap 10123, email info@openmaker.eu) of his decision to terminate the contract by an unequivocal statement (eg letter sent by mail, fax or email).
                    The User can also fill in and send electronically the withdrawal form that may be available on the Provider's Site and if he chooses this option, the Provider will promptly send a receipt for withdrawal on a durable medium (eg by e-mail).
                    The User acknowledges that the right of withdrawal above is wider, both for conditions and for exercise modalities, than that provided by Articles 49-59 of the Italian Legislative Decree 206/2005 (Consumer Code) of which acknowledges to have been informed.
                    The User acknowledges that withdrawing from the Registration Service he can not use the other Services.
                    With the withdrawal from the Services the Provider is allowed, but is not obliged, to delete all Contents that the User Uploaded and/or Published.
                    The Provider may terminate the contract for the supply of the Services with a 30-day notice and where a just cause occurs (for example to deal with security issues, to fulfill the requirements of the law or to comply with orders from public authorities, including the judicial authorities, or to protect the rights of the Provider, the Users, or third parties in accordance with the law and/or these Terms), without notice.
                    The Provider may terminate the contract in accordance with Section 1456 of the Italian Civil Code in the event of a breach by the User of any of the obligations set out in Sections 5 or 6 of the Terms.

                </p>
                <br>
                <h3>
                    21. DISPUTES RESOLUTION, APPLICABLE LAW, JURISDICTION AND COMPETENT COURTS
                </h3>
                <p>
                    In case of dispute the User may address to the ordinary courts.
                    These Terms shall be interpreted, evaluated and enforced in all senses according to the Italian law.
                    If the User is a consumer, he agrees to submit to the non exclusive jurisdiction of the Italian Courts.
                    If the User is not a consumer, he agrees to submit to the exclusive jurisdiction of the Italian Courts and to the exclusive competence of the Courts of Turin.

                </p>
                <br>
                <h3>
                    22. GENERAL
                </h3>
                <p>
                <h4>
                    (a) Assignment.
                </h4>
                The Provider is allowed to assign the contract of Services supply concluded with the User, with each faculty provided in the Terms, including authorization to use the Contents according to the Terms, to another entity that supplies services similar to the Services.
                The User may not assign or otherwise transfer the contract or any of the rights, duties and obligations provided for the User by the Terms without the prior written consent of the Provider.
                <h4>
                    (b) Entire agreement.
                </h4>
                These Terms replace any previous agreement, both written and verbal, that previously intervened between the Provider and the User having the same subject matter of these Terms (except in the case of false statements made with fraud or gross negligence).
Entire agreement
                <h4>
                    (c) Communications.
                </h4>
                Communications to the Provider shall be made to the address of the Provider indicated in Section 1 or to the new address communicated subsequently.
Communications to the User may be made:
                <ul>
                    <li>
                        via snail mail to the address indicated by the User;
                    </li>
                    <li>
                        via snail mail to the address indicated by the User;
                    </li>
                    <li>
                        via e-mail to the e-mail address indicated by the User, or
                    </li>
                    <li>
                        by means of publication on the Site or on other Resources.
                    </li>
                </ul>
                Given the nature of the e-mail service, the Provider does not guarantee delivery of every e- mail message.
                <h4>
                    (d) Tolerance.
                </h4>
                The fact that the Provider does not require the User to strictly follow the provisions of these Terms at all times and/or does not exercise one or more of the rights provided herein does not imply the forfeiture of such rights or renunciation to exercise them by the Provider.
                <h4>
                    (e) Integration.
                </h4>
                If one or more clauses of these Terms should be or should become contrary to imperative rules of law or of public order, they will not be considered and will not affect the validity of the other clauses of the Terms, without prejudice to the right of each party to ask for these Terms to be amended.
                <h4>
                    (f) Linguistic version.
                </h4>
                The Italian text of these Terms is the only authentic.
                Any language translations of the Terms have only illustrative purposes and, in case of inconsistency or discrepancy, the Italian text shall prevail.
                <h4>
                    (g) References.
                </h4>
                The Terms make reference to the provisions of Section 45 and following (consumer rights in contracts) of the Legislative Decree 206/2005 (Consumer Code).
                </p>
                <p>
                    <small>
                        (versione del 13/09/2017)
                    </small>
                </p>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}