{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>DSP Explorer</title>

    <!-- WEBPACK BUNDLES -->
    {% render_bundle 'commons' 'js' %}
    {% render_bundle request.resolver_match.app_name 'js' %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">

</head>
<body ng-app="{{ request.resolver_match.app_name }}" ng-controller="baseController as baseCtrl"
      ng-init="
          toastrMessage = [
                 {% for message in messages %}
                     {
                         {% if message.tags %}
                            message : '{{ message }}',
                            tags: '{{ message.tags }}'
                         {% endif %}
                     },
                {% endfor %}
          ];
      ">
<div id="top-div">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo text-red" href="/">
                    DSP<span>explorer</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_anonymous %}
                        {#                        <li><a href="{% url 'dashboard:invite' %}">Invite</a></li>#}
                        <li><a href="{% url 'dashboard:search_members' %}">Search</a></li>
                        <li><a href="{% url 'dashboard:invite' %}">Invite</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'dashboard:profile' %}">{{request.user.first_name}}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'dashboard:logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'dashboard:onboarding' %}">Onboarding</a></li>
                        <li><a href="#" ng-click="openModal('#login_modal')">Login</a></li>

                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- base container goes here -->

    {% block container %}


    {% endblock %}
    <!-- end base container -->
    {% if not user.is_anonymous %}
        <div id="floating-button" ng-click="openModal('#feedback_modal')" title="Leave a feedback">
            <p class="plus"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></p>
        </div>
    {% endif %}
</div>

{% if user.is_anonymous %}

    <div class="container-fluid" id="footer">
        <div class="row back padding-bottom-20">
            <div class="container">
                <div class="row margin-top-25">
                    <div class="col-md-8 text-white">
                        <p class="sub-title">About <strong>Open</strong>Maker</p>
                        <p>
                            The OpenMaker initiative is a pan-European project aiming to seed and accelerate the 4th Industrial Revolution – driving the radical distribution, decentralization and mass collaboration between manufacturers and makers.
                        </p>
                        <p>
                            This initiative seeks to catalyse the ideation, discovery, design & prototyping of business models, production processes, products, and governance systems.
                        </p>
                    </div>
                    <div class="col-md-4 text-center margin-top-30">
                        <a href="https://ec.europa.eu/digital-single-market/news/22-new-caps-projects-horizon-2020" target="_blank"><img style="width: 250px" src="/static/images/EUGrant.png"/></a>
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col-md-12 pull-right">
                        <a href="http://openmaker.eu" target="_blank" class="text-red">OpenMaker </a><span class="text-red">&mdash;</span>
{#                        <a href="/support" class="text-red">FAQ </a><span class="text-red">&mdash;</span>#}
                        <a href="/terms" class="text-red">Terms & Conditions </a><span class="text-red">&mdash;</span>
                        <a href="/privacy" class="text-red">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>

{% include "./modals/login.html" %}
{% include "./modals/feedback.html" %}


</body>
</html>