{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
<head>
    <meta charset=utf-8" />

    <title>Open Maker Explorer</title>
    <!--<meta name="viewport" content="width=device-width height=device-width initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAjp5-feM7TOCmk4smPZEQQnC8wzZk23MY"></script>

    <!-- WEBPACK BUNDLES -->
    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'commons' 'js' %}
    {% render_bundle request.resolver_match.app_name 'js' %}

    <link href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700" rel="stylesheet">

    {% if settings.ENV == 'production' %}
        {% include "./analytics/analytics.html" %}
    {% else %}
    {% endif %}

</head>

<body
        ng-app="{{ request.resolver_match.app_name }}"
        base-app
        user="{{json_user}}"
        authorization="{{om_authorization}}"
        pageinfo="{{page_info}}"
        twitterauth="{{twitter_auth}}"
        bookmarks="{{bookmarks}}"
        ng-class="{'disable-scroll': $root.noscroll }"
>
<div id="cover-filter"></div>
    <div class="om-main-wrapper">
        <header style="z-index:6; position: relative;">

            {% with current_url=request.resolver_match.view_name  %}
                {% include "header.html" %}
            {% endwith %}

            {% for message in messages %}
                <div
                    class="alert alert-dismissible text-center
                    {% if message.tags == 'error' %}alert-danger{% else %}alert-{{message.tags}}{% endif %}"
                    role="alert"
                >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="fas fa-times" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <h4>{{ message }}</h4>
                </div>

            {% endfor %}

            <div ng-if="$root.message" class="alert alert-dismissible text-center alert-{$ $root.message.type $}">
                <button type="button" class="close" aria-label="Close" ng-click="$root.message=false;"><span class="fas fa-times" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <h4>{$ $root.message.text $}</h4>
            </div>

        </header>

        <entity-loading
                style="z-index:5; position: relative;"
                class="text-center"
                loading="$root.authorization===undefined"
                ng-if="$root.authorization===undefined"
        ></entity-loading>

        <main ng-show="$root.authorization!==undefined" style="z-index:5; position: relative;">
            {% block container %}
            {% endblock %}
        </main>

        <div class="container hidden_space_bottom" style="z-index:5; position: relative;"></div>

        <footer class="container-fluid" id="footer" style="z-index:10;">
            <div class="row back" style="width:100%;">
                <div class="container">
                    <div class="row text-white">
                        <p class="col-md-12 footer__copy">
                            <a href="/manifesto">OM Manifesto</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                            <a href="http://openmaker.eu" target="_blank">OpenMaker Project</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                            <a href="/terms">Terms & Conditions</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                            <a href="/privacy" >Privacy Policy</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                            <a href="http://openmaker.eu/#hs-contact-section" target="_blank">Contact us</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <div class="container chatbot_section" style="position: fixed; bottom:0; z-index :11;">
            <div class="row">
                <div class="col-md-4 col-md-offset-8 col-sm-12 col-sm-offset-0" style=" position: relative;">
                    <chatbot ></chatbot>
                </div>
            </div>
        </div>

    </div>

    <div class="modal__container" style="z-index: 12;"></div>

    </div>
</div>

{% include "./modals/login.html" %}
{% include "./modals/feedback.html" %}
</body>
</html>
