{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
<head>
    <meta charset=utf-8" />

    <title>Open Maker Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAjp5-feM7TOCmk4smPZEQQnC8wzZk23MY"></script>

    <!-- WEBPACK BUNDLES -->
    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'commons' 'js' %}
    {% render_bundle request.resolver_match.app_name 'js' %}

    <link href="https://fonts.googleapis.com/css?family=Cairo:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700" rel="stylesheet">

    {% if settings.ENV == 'production' %}
        {% include "./analytics/analytics.html" %}
    {% else %}
    {% endif %}

</head>

<body ng-app="{{ request.resolver_match.app_name }}" ng-controller="baseController" style=""
      ng-init="
          toastrMessage = [
                 {% for message in messages %}
                     {
                         {% if message.tags %}
                            message : '{{ message }}',
                            tags: '{{ message.tags }}'
                         {% endif %}
                     },
                {% endfor %}
          ];

          $root.authorization = {{om_authorization}};
          $root.user = {};
          {% if user.is_authenticated %}
          $root.user.first_name = '{{user.first_name}}';
          $root.user.last_name = '{{user.last_name}}';
          $root.user.email = '{{user.email}}';
          $root.user.profile = {{user.profile.id}};
          {% endif %}
      "
      style="position: relative;"
>

<div id="cover-filter"></div>
    <div class="om-main-wrapper">
        <header>
            {% with current_url=request.resolver_match.view_name  %}
                {% include "header.html" %}
            {% endwith %}
           <!--<h1>AUTH: {$ $root.authorization $}</h1><h1>USER: {$ $root.user $}</h1>-->
        </header>

        <entity-loading
                class="text-center"
                loading="$root.authorization===undefined"
                ng-if="$root.authorization===undefined"
        ></entity-loading>

        <main ng-show="$root.authorization!==undefined">
            {% block container %}
            {% endblock %}

        </main>

        <footer class="container-fluid" id="footer" style="z-index: 10000; position: relative;">
            <div class="row back padding-bottom-20">
                <div class="container">
                    <div class="row margin-top-20">
                        <div class="col-md-12 pull-right">
                            <a href="http://openmaker.eu" target="_blank" class="text-red">OpenMaker&nbsp;</a><span class="text-red">&mdash;</span>
                            <a href="/terms" class="text-red">Terms & Conditions&nbsp;</a><span class="text-red">&mdash;</span>
                            <a href="/privacy" class="text-red">Privacy Policy&nbsp;</a><span class="text-red">&mdash;</span>
                            <a href="http://openmaker.eu/#hs-contact-section" target="_blank" class="text-red">Contact us&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <chatbot></chatbot>

    </div>

    </div>
</div>


{% include "./modals/login.html" %}
{% include "./modals/feedback.html" %}

</body>
</html>
