<nav class="navbar navbar-default" ng-cloak="$root.authorization">

    <ul class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo text-red" href="/">
                <img src="/static/images/logo.svg" class="img img-responsive pull-left"
                     style="height:140%; margin-top:-3%;">&nbsp;
                <!--<span class="pull-left" >-->
                    <!--<span class="text-white" style="font-weight: 500;">OM<small class="text-grey" style="font-weight: 300; text-transform: lowercase;">explorer</small></span>-->
                <!--</span>-->
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!------------->
            <!--LEFT MENU-->
            <!------------->
            <ul ng-if="$root.authorization >= 10" class="nav navbar-nav navbar-left">
                <!--<li style="font-size:120%;"><a>|</a></li>-->
                <li  ng-if="$root.authorization >= 1000"
                     class="dropdown {% if current_url == 'pss:application' or current_url == 'pss:application_result' %}liactive{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <small class="text-red bold" style="font-size:130%">Admin&nbsp;
                            <span class="far fas fa-caret-down text-white">
                        </span></small>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin">Admin area</a></li>
                        <li><a style="border-bottom:dashed 1px #bbb; width:90%; height:0; margin: 5%"></a></li>
                        <li>
                            <a href="{% url 'pss:application_result' %}">Application Results</a>
                        </li>
                        <li class="{% if current_url == 'dashboard:invite' %}liactive{% endif %}"  style="padding:5%;">
                            <a class="btn login-button" href="{% url 'dashboard:get_invitation_csv' %}">Download CSV</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-------------->
            <!--RIGHT MENU-->
            <!-------------->

            <!--VISITORS-->
            <ul ng-if="$root.authorization < 10" class="nav navbar-nav navbar-right friends">

                <li><a  ng-click="$root.login($event)">Login</a></li>
                <li class="no-mobile"><a>|</a></li>
                <li class="{% if current_url == 'dashboard:onboarding' %}liactive{% endif %}">
                    <a ng-click="$root.open_signup($event)" class="pointer">Signup</a>
                </li>
            </ul>

            <!--MEMBERS-->
            <ul ng-if="$root.authorization >= 10" class="nav navbar-nav navbar-right friends">
                <li class="{% if current_url == 'dashboard:profile_detail' %}liactive{% endif %}">
                    <a ng-href="/profile/{$ $root.user.profile $}" ng-cloack="$root.user.first_name">
                        {$ $root.user.first_name+' '+$root.user.last_name $}
                    </a>
                </li>
                <li class="hidden-xs"><a>|</a></li>
                <li><a ng-click="$root.logout($event)">Logout</a></li>
            </ul>
            <ul ng-if="$root.authorization >= 10" class="nav navbar-nav navbar-right">

                <li class="{% if current_url == 'dashboard:invite' %}liactive{% endif %}" >
                    <a href="{% url 'dashboard:invite' %}" ><i class="fa fa-user-plus"></i></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="{% if current_url == 'dashboard:community' %}liactive{% endif %}" >
                    <a href="{% url 'dashboard:community' %}">Community</a>
                </li>
            </ul>

        </ul>
    </ul>
</nav>