<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DSP Explorer</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- jQuery Bootstrap typeahead -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div >
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
              <button type="button" class="btn btn-success btn-color">Request Membership</button>
              <button type="button" class="btn btn-success btn-color">Discover</button>

            <div class="navbar-header">
                <a class="navbar-brand" href="/">OpenMaker Logo</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        {% include "flash.html" %}

        <!-- base container goes here -->
        {% block container %}

        {% endblock %}
        <!-- end base container -->
    </div>

    <footer>
        <div class="container-footer">
            <a href="#">About us</a><br >
            <a href="#">Privacy</a><br >
            <a href="#">Contact us</a>
        </div>
    </footer>

</div>

</body>
</html>