$icon-font-path : '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import '../../../node_modules/bootstrap-additions/dist/bootstrap-additions.min.css';

//$fa-font-path : '../../../node_modules/font-awesome/fonts/';
//@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
//
//$fa-font-path : '../../../node_modules/font-awesome/fonts/';
//@import "../../../node_modules/material-design-icons/iconfont/material-icons.css";

$fa-font-path : '../../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";

@import "../../../node_modules/angular-toastr/dist/angular-toastr.css";
@import '../../../node_modules/angular-motion/dist/angular-motion.css';
@import "../../../node_modules/cookieconsent/build/cookieconsent.min.css";
@import "../../../node_modules/ui-select/dist/select.css";

@import "../../../node_modules/ui-select/dist/select.css";


//@import "./material.scss";
@import "./card.scss";

@import "./spinner.scss";



$dsp-red:#db4348;
$dsp-grey :#333;
.text-red{
	color: $dsp-red;
}
.capitalize { text-transform: capitalize; }
html {
	width: 100vw;
	overflow-x: hidden;
}

#footer{background-color:$dsp-grey; }

.cc-window {
	z-index: 10001!important;
	background-color: #db4348!important;
}

.bolder { font-weight: 900; }

.no-margin { margin:0; }
.no-padding { padding:0; }

a, a * { color: #2C2C2C; text-decoration: none; }
.navbar-default {
	.liactive * {
		color: $dsp-red !important;
		backgorund-color: $dsp-red !important;
		@media (max-width: $screen-xs-max) {
			color: $dsp-red !important;
		}
	}
}
.liactive > a::after{
	//content:"";
	//position:absolute;
	//border-bottom: 2px solid #db4348;
	//width: 80%;
	//margin-left: 10%;
	//margin-right: 10%;
	//left:0;
	//bottom:0;
    //
	//-webkit-box-sizing: border-box;
	//-moz-box-sizing: border-box;
	//box-sizing: border-box;
    //
	//@media (max-width: $screen-xs-max) {
	//	display:none;
	//}
}

textarea.form-control:focus{
	//box-shadow:none;
	border-color : #aaa;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 204, 204, 0.6);
}

.pointer{cursor:pointer;}
.bold{font-weight:bold;}

.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Aligner-icon {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.Aligner-item--top {
	align-self: flex-start;
}

.Aligner-item--bottom {
	align-self: flex-end;
}

.Aligner-left {
	@extend .Aligner;
	justify-content: start;
}

.navbar-default {
	background-image: none!important;
	//background-color: #fff!important;
	padding: 15px 10px 15px 10px;
	background-color: #333!important;
	color:#fff!important;
	* {
		color:#fff!important;
		background-color: #333!important;
	}
	margin-bottom:0;

}

.logo{
	font-size: 24px;
	font-weight: 700;
}

.logo-custom{
	font-size: 26px;
	font-weight: 500;
	float:right;
}

.logo-custom-small{
	font-size: 16px;
	font-weight: 500;
	float:right;
}

.logo span {
	font-size: 22px;
	font-weight: 100;
}

$whitespacers : 'margin' , 'padding';
@each $propname in $whitespacers {
	$directions : 'top', 'bottom', left , right;
	@each $direction in $directions {
		// generate pixels
		@for $i from 0 through 100
		{
			// generate plain
			.#{$propname}-#{$i} {
				#{$propname}: 0px + $i !important ;
			}
			// Generate directions
			.#{$propname}-#{$direction}-#{$i} {
				#{$propname}-#{$direction}: 0px + $i !important ;
			}
		}

		// generate percents
		@for $i from 1 through 100
		{
			// generate plain
			.#{$propname}-#{$i}-perc {
				#{$propname}: 0% + $i !important ;
			}
			// Generate directions
			.#{$propname}-#{$direction}-#{$i}-perc {
				#{$propname}-#{$direction}: 0% + $i !important ;
			}
		}
	}
}

$red : rgb( 219 , 67 ,72 );
$white : #ffffff;
$dark-red : rgb(181, 15, 22);
$grey : #aaa;
$light-grey : #eeeeee;
$red-75 : rgba( 219 , 67 ,72, 0.075 );
$grey-75: rgba(204, 204, 204, 0.075);

body {
	a:hover { cursor: pointer!important;}
}

.text-grey { color: $grey!important;}
.text-light-grey { color: $light-grey!important;}
.text-red { color: $red!important;}
.text-white { color: $white!important;}

.bg-grey    {   background-color: $grey!important;}
.bg-light-grey    {   background-color: $light-grey!important;}
.bg-red     {   background-color: $red!important;}

.border-grey    {   border-color: $grey!important;}
.border-light-grey   {   border-color: $light-grey!important;}
.border-red     {   border-color: $red!important;}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
	color: #333;
	font-weight: 400;
	background-color: #fff;
}

textarea {
	resize: vertical;
}

/* Alert Error Message */
.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-error hr {
	border-top-color: #e4b9c0;
}
.alert-error .alert-link {
	color: #843534;
}

.text-red {
	color: #db4348!important;
}

.text-black {
	color: #333;
}

.text-white {
	color: #fff;
}

.font-size-8 {
	font-size: 8px!important;
}

.dropdown-menu{
	left: 43%;
	text-align: right;
}

a, a:hover {
	color: #333;
}

.login-button {
	background: transparent;
	color: #db4348;
	border: solid 1px;
	font-weight: 300;

	&:hover, &:focus, &:active {
		background: #db4348!important;
		color: #fff!important;
	}

}

.login-button-active {
	background: #db4348!important;
	color: #fff!important;
}

.tag-button {
	@extend .login-button-active;
	@extend .no-pointer;
	padding:6px;
	font-size:90%;
}

.close-button {
	background: transparent;
	color: #f0ad4e;
	border: solid 1px;
	font-weight: 300;
}

.close-button:hover {
	background: #f0ad4e;
	color: #fff;
}

.input-group-btn {
	.login-button:hover {
		border:1px solid transparent;
	}
}

#profile-image { display:none; }

.col-nopadding {
	padding-left:0;
	padding-right:0;
}

.container-fluid.ng-scope{
	max-width: 1550px;
}

.no-pointer{cursor:default;}
//.tooltip .tooltip-inner{background: $dsp-red; color: #fff;}
.tooltip .tooltip-inner{background: #333; color: #fff;}

blockquote { border-color: $dsp-red;}


.om-main-wrapper {
	min-width:100vw;
	min-height:100vh;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	align-items: center;
}
header, footer, main { width:100%; z-index:999;}
header { z-index:1000000;}
main { flex-grow: 1;}


@import "./mdp.scss";
