
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

$dsp-red:#db4348;

html {
  width: 100vw;
  overflow-x: hidden;

}

.liactive * {
  @media (max-width: $screen-xs-max) {
    color:$dsp-red!important;
  }
}

.liactive a::after{
  content:"";
  position:absolute;
  border-bottom: 2px solid #db4348;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  left:0;
  bottom:0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (max-width: $screen-xs-max) {
    display:none;
  }
}

.pointer{cursor:pointer;}
.bold{font-weight:bold;}