$icon-font-path : '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';

$fa-font-path : '../../../node_modules/font-awesome/fonts/';
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

@import "../../../node_modules/angular-toastr/dist/angular-toastr.css";
@import '../../../node_modules/angular-motion/dist/angular-motion.css';
@import "../../../node_modules/cookieconsent/build/cookieconsent.min.css";
@import "../../../node_modules/ui-select/dist/select.css";

$dsp-red:#db4348;
.text-red{
  color: $dsp-red;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

.no-margin { margin:0; }
.no-padding { padding:0; }

a, a * { color: #2C2C2C; text-decoration: none; }
a:hover { color: $dsp-red!important; text-decoration: none; }

.liactive * {
  @media (max-width: $screen-xs-max) {
    color:$dsp-red!important;
  }
}

.liactive a::after{
  content:"";
  position:absolute;
  border-bottom: 2px solid #db4348;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  left:0;
  bottom:0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (max-width: $screen-xs-max) {
    display:none;
  }
}

textarea.form-control:focus{
  //box-shadow:none;
  border-color : #aaa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 204, 204, 0.6);
}

.pointer{cursor:pointer;}
.bold{font-weight:bold;}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}