<h1>Hi {{RECEIVER_FIRST_NAME}}&nbsp;{{RECEIVER_LAST_NAME}},</h1>
<p>you have been nominated by <strong>{{SENDER_FIRST_NAME}}&nbsp;{{SENDER_LAST_NAME}}</strong> as an influencer in the current
    4th Industrial Revolution.
<p>

<p>We are building a community of people eager to drive radical change in our society, making the most of talent,
    knowledge and capacity to reshape production according to principles of democracy, inclusivity and sustainability.</p>

<p>We believe in innovation centered on people, and in technology as an enabler of empowered creativity and action for
    individuals.
</p>

<p>We are confident in the ability of open collaboration to tackle complex societal challenges, and we push for a systemic
revolution in manufacturing which is locally focused but globally connected, micro yet massive.
</p>

<p>We invite you to take part to this cross-border movement. Join us and make your contribution to preserve and grow the
    common good.
</p>

<p>
    <strong>Join</strong>&nbsp;our community&nbsp;<a href="{{ONBOARDING_LINK}}#signup">here</a>.<br>
    <strong>Nominate</strong>&nbsp;someone else&nbsp;<a href="http://openmaker.eu/nominate" target="_blank">here</a>.
</p>