<h1>Hi {{USER_NAME}},</h1>

<h4>There were some problems with your signup on the <strong>OpenMaker Explorer</strong> platform</h4>
<p>Click on the link below to complete the procedure <p>
<p>Some data in your profile may not be updated, so after the signup procedure is completed, please go to your profile page and check that your details are correct. If you want you can update them.</p>
<p>Please click <a href="{{CONFIRMATION_LINK}}">here</a> to complete the signup.</p>

<p>
    If you have received this e-mail by mistake, please ignore it.<br>
    For more information, check the <a href="http://openmaker.eu/" target="_blank">website</a> or contact us at:
    <a href="mailto:info@openmaker.eu">info@openmaker.eu</a>
</p>
