<h1>Hi {{FIRST_NAME}} {{LAST_NAME}},</h1>
<p>thank you for your application!<br> Your submission has been successfully submitted to the <strong>OpenMaker Call for Ideas!</strong></p>
<p>For any additional information or request, please contact:</p>
<ul>
    <li>Spain: <a href="mailto:jorge.garcia@tecnalia.com">Garcia Valbuena, Jorge</a></li>
    <li>Italy: <a href="mailto:dario.marmo@agenzialama.eu">Marmo, Dario</a></li>
    <li>Slovakia: <a href="mailto:lubomir.billy@centire.com">Billy, Lubomir</a></li>
    <li>UK: <a href="mailto:erika.rushton@gmail.com">Rushton, Erika</a></li>
</ul>